[2018-06-18 15:31] EdwardMoyse opened #1 "WARNINGS with jsdisplay_geom.html"
Looking at jsdisplay_geom.html, I see the following warnings:

`
[Warning] THREE.EdgesHelper has been removed. Use THREE.EdgesGeometry instead. (three.min.js, line 893, x64)
`
`
[Log] 8 (jsdisplay.js, line 791)
`

[2019-03-22 12:04] EdwardMoyse opened #3 "Refactor code"
We should split up jsdisplay.js into smaller fragments, such as tracks, jets etc.

[2019-03-22 12:05] EdwardMoyse opened #4 "Add animation"
In VP1 we did this by defining e.g. a sphere that expanded with a timing tick, and only objects inside this radius were shown. This seems like a good place to start?

[2019-03-22 12:05] EdwardMoyse opened #5 "Jump between events"
Add support for loading a new event, or opening a file with multiple events and jumping between them.

[2019-03-22 12:06] EdwardMoyse opened #6 "Unit tests"
Investigate best way to add more unit tests (we have some code checking now via Travis but would like to add more)

[2019-03-22 12:07] EdwardMoyse opened #7 "Views"
Add some preset views, and animate between them.

[2019-03-22 12:21] EdwardMoyse opened #8 "Select objects"
Should be possible to select physics objects, and then optionally zoom into them.

[2019-04-04 13:23] 9inpachi commented on #7
Hi Edward,

Does it have to be like this?
- There is a list of preset views in the controls section
- When user clicks on one of the presets, the camera, in an animating fashion shifts to that view
- A view can be inside some part of the detector, or the origin of particles or other related parts of an event display

[2019-04-04 15:15] ric-bianchi commented on #7
Hi @9inpachi , yes, that's an option. Default views will be used by users to create "standard" event displays more easily.

[2019-04-08 10:53] 9inpachi commented on #7
Hi,
I have tried implementing views a bit.

Here's a screenshot of what I have done so far:
![presetViews](https://user-images.githubusercontent.com/36920441/55718826-22bb6e80-5a16-11e9-992d-b472855626d1.png)

You can test and see the changes at: https://github.com/9inpachi/phoenix
The latest commit `Preset Views Test` shows the changes done. The shifting of views is not animated yet, it is just a

[2019-04-10 08:21] EdwardMoyse commented on #7
Very nice! I think we might ultimately want to do this with icons rather than using the pulldown GUI, but having both is good too.
Feel free to make a pull request!

[2019-04-10 18:02] 9inpachi commented on #7
I will add the icons and make a pull request then. :)

[2019-04-13 17:23] 9inpachi commented on #7
Hi,
I have added animations for preset views using tween js. Before I make a pull request, I wanted to know if its alright to include a new library like tween js?

Here's the output:
![presetViews](https://user-images.githubusercontent.com/36920441/56083150-9dcbbd00-5e3a-11e9-8484-97603f4f4198.gif)

Thanks. :-)

[2019-04-15 13:40] EdwardMoyse commented on #7
That's absolutely fine!

[2019-05-14 07:16] EdwardMoyse opened #11 "Implement analytic extrapolation"
We need to be draw a track from a single parameter and 'extrapolate' it through the detector

Obvious this only can work for a simple magnetic field

[2019-05-14 07:39] EdwardMoyse opened #12 "Implement propagation/extrapolation engine"
It would be good to either implement, or find, an extrapolator for a more complex magnetic field.

[2019-05-14 08:01] EdwardMoyse opened #13 "ATLAS test is failing"
As reported by Emilio, the ATLAS test is currently broken.

[2019-05-15 11:26] EdwardMoyse opened #15 "Add rotation controls to phoenix_ATLAS.html"
They are currently in the TrackML only, but should be added to ATLAS as well. Can we maybe clean up the html files so we don't have so much duplication?

[2019-06-11 13:06] #13 closed

[2019-06-11 13:08] EdwardMoyse opened #18 "Travis, snyk, coveralls.io etc tests failing"
This is because they still point to emilio's fork.

[2019-06-18 09:25] EdwardMoyse opened #19 "Add a new 'Playground' tab to the nav"
This should be blank, with options to load (and remove) arbitrary OBJ geometry, plus (eventually) event data.

Change colour would be great.

Also, shift in space? i.e. load a piece of shielding material and move to -20m from the origin.

[2019-06-18 09:32] EdwardMoyse opened #20 "For playground, make it possible to save the configuration"
Once we can load OBJ files and colour them, and move them around, it woudl be great to be able to save the configuration and load it back again. Or write out a new phoenix component, to help people making a new ED.

[2019-06-18 10:00] EdwardMoyse opened #21 "Add VR option"
Apparently threejs supports VR now - a la google cardboard.
We should add this :
https://threejs.org/docs/#manual/en/introduction/How-to-create-VR-content

[2019-06-24 18:23] EdwardMoyse opened #22 "Make it possible to switch perspective view off/on"
It can sometimes be useful to switch the perspective view off/on e.g. when you want to look down the barrel and see the layers.

[2019-06-27 17:37] emiliocortina commented on #19
Playground section added in 9e2bea049e9b310eaf989adb23a6ca70d7d8e309
with color picker in 9e06ce3267ce7326e4506bbcbc825f108e4e90a1 and moving OBJ geometries in https://github.com/HSF/phoenix/commit/9e841576c1f0af23a353a03737083e6836938be0

[2019-06-27 17:38] #19 closed

[2019-06-27 17:39] emiliocortina commented on #20
Import options added in 8b92403ff6cd967ca6a36a323081706576e1a006 and export option in 405d8379610d09b6d391728221fb6a367d50ff88

[2019-06-27 17:40] #20 closed

[2019-06-27 17:40] #1 closed

[2019-06-27 17:41] #3 closed

[2019-06-27 17:42] emiliocortina commented on #18
For coverage badges, we would have to get permission from the HSF organization.

[2019-06-27 17:43] #18 closed

[2019-06-27 19:16] ric-bianchi commented on #18
Hi @emiliocortina , I had the green light from the HSF coordinators, so I can set the needed permissions. I'll do that ASAP. Sorry for the delay...

[2019-06-27 19:17] ric-bianchi commented on #18
P.S. @emiliocortina , if I forget, please remind that to me in a few days... ;)

[2019-07-02 09:00] #7 closed

[2019-07-02 09:00] #15 closed

[2019-07-09 09:10] EdwardMoyse opened #23 "Add multi component objects"
For example, a muon might be made up from:
- an Inner Detector Track
- energy dumps in the calorimeter
- a muon segment / track

We should try to work out the data format and then how to draw them - ideally it would be possible to change the colour of e.g. tracks and clusters, and indicate that they're linked using this.

[2019-07-09 09:48] ric-bianchi opened #24 "Add "Remove .obj" button"
We now have the "Load .obj file": when loading a new .obj file, the content of that file is added to the scene. However, we also would like to have a way to remove the same content from the scene, when it is not needed anymore.

[2019-07-09 09:53] ric-bianchi opened #25 "Objects loaded with the "Load scene" button are not added as "geometries""
When loading a scene with the "Load scene" button, the objects loaded are not added to the `Geometry` tab.

Ideally, a new entity in the Geometry tab should be created, with a linked "Show" button to switch that ON and OFF.

Also, clicking on volumes loaded as a "scene file" does not trigger any information in the "volume information" overlay.

[2019-07-10 11:46] EdwardMoyse commented on #25
Yes, this is because this is basically done by threejs. It will be a bit more complicated to do ourselves - Emilio and I discussed it and it will require inventing our own format. One solution might be to have a json dictionary of the paths to the various objects loaded. Obviously this makes it a quite fragile though, but it does also keep it compact.

[2019-07-10 11:46] EdwardMoyse commented on #12
Duplicate of #11

[2019-07-10 11:46] #12 closed

[2019-07-10 11:47] EdwardMoyse commented on #5
I have added a sample multi-event file here:
https://emoyse.web.cern.ch/emoyse/EventData.json

[2019-07-10 11:47] EdwardMoyse commented on #23
I've added a file with multiple events and multicomponent objects (Muons) here:
https://emoyse.web.cern.ch/emoyse/EventData.json

[2019-07-11 13:55] EdwardMoyse opened #26 "Add link to github from the application"
We should add a clear link to here from the application.

[2019-07-13 09:15] emiliocortina opened #27 "Add more unit tests to improve coverage"
Code coverage is currently at only 50%: https://coveralls.io/github/HSF/phoenix?branch=master

[2019-07-17 08:43] #24 closed

[2019-07-17 08:43] #6 closed

[2019-07-17 16:39] #25 closed

[2019-07-17 16:39] #26 closed

[2019-07-17 16:40] #8 closed

[2019-07-17 16:40] #5 closed

[2019-07-17 16:43] emiliocortina opened #28 "Fix warnings when exporting threjs scene"
Currently when exporting the scene in the Playground section many warning messages appear on the console.
This seems to be the cause that OBJ objects exported with our application appear very dark when they are loaded back again.

[2019-07-22 20:44] ss4774 commented on #22
I am interested in tackling this issue and I have a few questions. I assume we want the ability to switch between normal (perspective) and orthographic camera view? Should the transition to orthographic view also align with one of the closest main axis (X, Y or Z) in a scene, or should the transition leave the original view direction unchanged?

[2019-07-23 08:35] EdwardMoyse commented on #22
Hi Sebastien - that would be great if you could look into this! Yes, indeed what we want is to have an XY view, so the beamline would be coming out of the screen. For an example of what we mean, have a look at [this](http://atlas-vp1.web.cern.ch/atlas-vp1/home/gallery/a-higgs-4-muons-candidate-event-2/)

Top right you can see an orthographic view of the same event. In fact, it would be fantastic i

[2019-07-24 17:34] ss4774 commented on #22
Glad to be working on this project. I see, that kind of camera alignment really makes some clear and interesting views of an event. Currently I have added options to align a camera to any of the main axis and be able to switch between perspective or orthographic view at any point. I have made it such that when we align a camera with a certain axis, camera will align with that axis and move its orb

[2019-07-25 08:49] emiliocortina opened #29 "Selecting items on exported scene"
Info about items is not displayed when clicking after loading them from a previously exported scene.

[2019-07-25 13:53] EdwardMoyse commented on #22
We already have the possibility to move the camera to various 'fixed' views, which can be aligned with the beamline. So probably it would be enough simply to switch between perspective/orthographic and do the camera alignment separately?

[2019-07-25 18:11] ss4774 commented on #22
Yes, I think the perspective/orthographic switching works well with the fixed views. I have submitted a pull request so you can get a look at the result.

[2019-07-29 09:55] #21 closed

[2019-07-29 10:08] emiliocortina commented on #22
@ss4774 Hi I've been trying out the new functionality and it works great. I decided to move the orthographic controls you added to the ui to a new folder called 'Views' together with the preset views we already had, hope you don't mind.
Thank you for your contribution!

[2019-07-29 19:12] ss4774 commented on #22
@emiliocortina Hello, no problem. Feel free to change and improve anything.
Glad to be of help.

[2019-08-13 15:38] ss4774 commented on #28
I fixed some issues but this seems like a limitation of the current GLTF exporter (Phong materials will get changed to Standard materials. These will appear darker due to default Standard material parameters).

[2019-08-15 21:05] ss4774 commented on #29
I took a look at this problem. I will post a fix after I do some rework on a loader.

[2019-08-16 09:01] emiliocortina commented on #29
Sorry Sebastien I didn't close this issue before.
Turns out I had already debugged the problem and identified where it came from but didn't fix it for some reason.
The cause of this is that when loading the scene the array of objects 'this.objects' that we pass to the ray caster for intercepting was empty so it didn't find any object to intersect.
<img width="600" alt="Captura de pantalla 2019-08-

[2019-08-16 09:04] emiliocortina commented on #29
Changing it to 'this.scene.children' I think it's better as we don't rely on other variables, just on the visible  objects of the scene.

<img width="600" alt="Captura de pantalla 2019-08-16 a las 10 57 04" src="https://user-images.githubusercontent.com/43990884/63156674-7a499680-c015-11e9-852d-941d260d6b7a.png">

Thank you for your help by the way, if you don't mind I will upload the fix and clos

[2019-08-16 09:04] #29 closed

[2019-08-16 09:10] emiliocortina commented on #28
@ss4774 Turns out that it wasn't the materials that made the objects darker, but the lights. For some reason the exporter doesn't support some lights that we use and when loading the scene they were missing.
I found a workaround to this some time ago by adding a call to 'this.setLights()' after loading the imported scene.

<img width="513" alt="Captura de pantalla 2019-08-16 a las 11 08 13" src="h

[2019-08-16 09:10] #28 closed

[2019-08-16 09:10] #23 closed

[2019-08-17 09:55] ss4774 commented on #28
@emiliocortina  I am quite confident that materials are the culprit to this issue. I found this inside of GLTF implementation and discovered that corresponding warning from browser are connected with material definitions. However, as you said it is also true that some light are not supported and not exported. Such as ambient light, which does contribute a fair part to the overall brightness.

I di

[2019-08-17 09:56] ss4774 commented on #29
@emiliocortina No problem. Yes, the problem was an empty scene object inside of objects array, so there was nothing to intersect. You found quite an elegant solution.
I solved this by keeping the objects array, so that intersection is only applied on event data. I tried to avoid computation on a whole scene.

At the same time I was going through loader and I found out that you finished with muons

[2019-08-22 18:29] ss4774 commented on #4
Is it possible to somehow get or extract timestamps of a particular object detection inside sub-detectors? Combing this information with some kind of time scale and normalization mechanism we would be able to reconstruct quite accurate animation of a collision.

[2019-10-16 18:57] 9inpachi opened #35 "Make users aware of hardware acceleration"
Hi,
As hardware acceleration can significantly improve the performance for each event display. It would help the users to know if they have hardware acceleration enabled or disabled.
Unfortunately, there isn't a way to automatically request hardware acceleration from somewhere in the code but the performance and certain factors can be measured to know if hardware acceleration is being used.

Somet

[2019-11-06 06:08] kratsg opened #36 "question: track parameters"
Looking at the [user docs](https://github.com/HSF/phoenix/blame/4ff6be51df838125fd54b778d95fc24b60c2f5e8/src/assets/docs/users.md#L58-L63)

It seems that the `params` are not used at all in the code (and seems to be called `dparams` in [src/assets/files/event_data/atlaseventdump2.json](https://github.com/HSF/phoenix/blob/master/src/assets/files/event_data/atlaseventdump2.json).

While `d0,z0` make

[2019-11-07 12:06] EdwardMoyse commented on #36
Hi Giordon, thanks for pointing this out - the documentation needs updating. The point of param/dparams is just to allow for experiment specific extensions. So here, for ATLAS the params would be d0,z0, phi, theta, q/p. It's not really used, but we might want to add e.g. some cuts based on these. They're effectively just labels. I'll clarify this.

[2019-11-07 12:08] EdwardMoyse commented on #35
Hiya - sorry, I missed this! Hmm. This is a good question. Maybe we can just recommend that users enable hardware acceleration and provide links explaining how? Detecting it seems a bit unreliable.

[2019-11-07 12:09] EdwardMoyse opened #37 "Improve track/objection selection by adding highlighting"
We should highlight the track which is selected elsewhere (e.g. in list) and also see maybe whether highlighting on mouseover is doable performance-wise.

[2019-11-07 14:57] kratsg commented on #36
One would expect these to be used for drawing the track (apigee, perigee, etc...).

[2019-11-07 16:32] EdwardMoyse commented on #36
Well, they are indirectly. The perigee parameters are just the first position:

https://gitlab.cern.ch/atlas/athena/blob/master/Event/DumpEventDataToJSON/src/DumpEventDataToJsonAlg.cxx#L113

[2019-11-16 16:47] 9inpachi commented on #35
@EdwardMoyse Yeah. Seems a one time popup is a better choice. Hopefully I will send a PR for this within a week.

[2019-11-20 22:36] emiliocortina commented on #35
Hi @9inpachi maybe the popup will be a little annoying to show up every time the users load the app?
I'm thinking perhaps on adding a help/user manual section inside the app where we put together some information about how to use it, and you could explain there how to enable hardware acceleration.
Let me know what you think :)

[2019-11-21 09:46] EdwardMoyse commented on #35
Yes, I think this is probably better.

[2019-11-21 16:12] 9inpachi commented on #35
Note that this is a **one-time** popup which will only appears to a new user (once).
The help/user manual section is a great choice but I am not sure if many people will view it from the get go. Even if we include a button somewhere on the sides, most people will ignore it.

My proposition is that we include the hardware acceleration section in the help/user manual section and also show a **one-ti

[2019-11-24 17:41] emiliocortina commented on #35
@9inpachi the problem with the one-time popup is how are we going to check that the user is indeed visiting the website for the first time.
I don't know if you already have an idea for doing this, because the only thing that comes to my mind is using cookies. The thing with cookies is that for instance, here in Europe I think its use is pretty restricted by the GDPR, so I would try to avoid that.

[2020-01-21 15:22] EdwardMoyse opened #39 "Close sections created by clipping"
Currently the clipping planes don't look too nice since the volumes are left open. However it looks like there are some simple hacks/workarounds which might work:

https://jsfiddle.net/wilt/qo869tb3/

[2020-01-21 16:16] EdwardMoyse opened #40 "Update package versions"
We're getting vulnerability warnings etc now. Would be good to update packages to newer versions (I started, but realised it was going to be a bigger job than I expected).

[2020-01-21 17:46] emiliocortina commented on #40
I have just added a commit to your new branch with a fix. At least they aren't showing on my computer anymore, if you can confirm we can merge the pull request.

[2020-01-21 21:13] EdwardMoyse commented on #40
Ah great! Thanks!

[2020-01-22 15:33] EdwardMoyse opened #42 "Add ability to add JS geometry via console in playground"
In the original Phoenix and earlier, we could add our own geometry via a simple console. Would be good to have this again in the playground e.g.

var parameters = { ModuleName: "Module 2", Xdim:10., Ydim:1. , Zdim:45, NumPhiEl:64, NumZEl:10, Radius:75, MinZ:-250, MaxZ:250, TiltAngle:0.3, PhiOffset:0.0, Colour:0x00ff00, EdgeColour:0x449458  };
  window.EventDisplay.buildGeometryFromParameters(param

[2020-01-22 15:34] #40 closed

[2020-01-22 15:45] EdwardMoyse opened #43 "Implement JiveXML loader for ATLAS"
ATLAS has an already existing JiveXML event format. We should implement a loader for this.

[2020-01-22 15:46] EdwardMoyse opened #44 "Investigate opening ATLAS AOD files directly via jsroot"

[2020-01-23 13:41] EdwardMoyse opened #46 "Wedge clipping"
Currently clipping is done with cartesian planes (i.e. aligned to axes)

In VP1 we preferred to clip with a wedge, since this fits the native geometry of the detector.

I thnk this should be pretty trivial to add.

[2020-02-08 08:57] EdwardMoyse opened #50 "Change the load event data icon"
Currently it's a printer, which is pretty confusing.

Better would be:
https://github.com/HSF/phoenix/blob/master/src/assets/icons/upload.svg

However when I tried to change this in atlas.component.html, all I got was a blank icon, so I obviously missed a step.

[2020-02-08 16:30] #46 closed

[2020-02-21 20:07] 9inpachi commented on #50
Hi Edward,
Hope you are well.

I added the icon but would like to know if it seems consistent to you. The file icon Emilio uses was made specifically for the options panel so its borders are thin as compared to the upload icon.

![image](https://user-images.githubusercontent.com/36920441/75067824-b9e6c300-550f-11ea-8556-b36971052412.png)

[2020-02-22 08:44] EdwardMoyse commented on #50
I think that looks great!

[2020-02-22 08:46] 9inpachi commented on #50
Great!

I'll send a PR then.

[2020-02-22 22:17] #50 closed

[2020-02-26 18:19] 9inpachi opened #54 "No exporter for actual experiments?"
Hi,

On the deployed website, I notice that exporters are not there for actual experiments. Are there any errors with this? They exist for the playgrounds.
We could implement a `.gltf` exporter which makes it easier to export the whole scene through `three.js`.

[2020-03-02 12:43] EdwardMoyse commented on #54
We could. Honestly I hadn't imagined that we would want to do this because this "freezes" the displays... IIRC loading a scene gltf doesn't rebuild the menus, for example.

[2020-03-02 15:18] emiliocortina commented on #54
Hi!,
The exporters work in any section.
They are only in the playground because that section was intended to showcase all the available functionality of the application, but they can as well be added to any other experiment.
I am currently working on refactoring the UI to a separate component so soon it will all be uniform across the different sections.

[2020-03-02 15:18] #54 closed

[2020-03-02 15:20] #35 closed

[2020-03-11 12:33] EdwardMoyse opened #56 "momentum cuts don't seem to work"
Trying on ATLAS, and the tracks aren't changing. Other cuts work.

[2020-03-11 12:35] EdwardMoyse opened #57 "Make overlay more functional"
I'm thinking that it would be good to be able to resize it and switch it from orthographic/perspective independently. Maybe on mouse over, some controls could appear - a pin to fix it, and cube/perspective cube for ortho/persp?

[2020-03-11 13:15] EdwardMoyse opened #58 "Event selector no longer working?"
When I try to change event in the "Event Selector" (the event icon with Choose written next to it), nothing happens.

[2020-03-11 13:17] EdwardMoyse opened #59 "JiveXML loader missing after ui revamp"
Hi @emiliocortina, the JiveXML loader is now missing after the UI revamp. But I have a fix coming...

[2020-03-11 13:33] #59 closed

[2020-03-11 13:34] EdwardMoyse opened #60 "Add info panel"
It would be good to have an info panel so we can output information e.g. just loaded event#12345 from run#12222. Or, clicked on Track # 39 with pT=x.

[2020-03-11 13:37] EdwardMoyse opened #61 "Make UI configurable"
For instance, it doesn't make a lot of sense to show the JiveXML loader for LHCb. So we need to be able to tweak this.

[2020-03-11 13:38] EdwardMoyse opened #62 "Add global checkbox for geometry"
For event data we can turn it all off in the DAT.gui menu. We should have the same for the geometry.

[2020-03-13 20:09] emiliocortina commented on #58
The call to the changeEvent() function was missing, fixed now!

[2020-03-13 20:09] #58 closed

[2020-03-16 15:05] #62 closed

[2020-03-16 16:17] 9inpachi commented on #56
It seems that the momentum for each track isn't specified in the event file ((assets/files/event_data/atlaseventdump2.json)[https://github.com/HSF/phoenix/blob/master/src/assets/files/event_data/atlaseventdump2.json]).
Have you tried loading with JiveXML?

[2020-03-16 16:42] 9inpachi commented on #56
Just found. Looks like the word "momentum" is being used to get the momentum for tracks (`track.momentum`). Since event data uses `mom` to address the momentum of tracks, changing this to `mom` seems to fix the issue.

[2020-03-16 17:17] #56 closed

[2020-03-29 13:28] #42 closed

[2020-03-29 14:43] 9inpachi opened #73 "Line width issue for tracks"
Hi all,

The function `getTrack(trackParams: any): Object3D` currently returns an object of `THREE.Line`.
The problem is that `THREE.LineBasicMaterial` has known bugs for the linewidth property which does not work on windows and on chrome for MacOS. See [THIS](https://github.com/mrdoob/three.js/issues/14627) for details.

I was working on a control for changing line width of tracks and came across

[2020-03-29 20:51] EdwardMoyse commented on #73
Interesting! It looks like Line2 is the best solution to me.

But would outlinepass work better with MeshLine? Did you notice any other difference in performance?

[2020-03-30 05:35] 9inpachi commented on #73
I am not sure. `OutlinePass` should work equally well for all geometries AFAICT.

In terms of performance, I don't notice much difference.

* For simple `THREE.Line` the fps with all the ATLAS geometry loaded is about 50-55.
* For `THREE.MeshLine` it might be a couple of frames ahead with about 52-57 fps.
* And performance for `Line2` is the same as `THREE.Line`.

[2020-04-03 12:51] 9inpachi commented on #39
Hi @EdwardMoyse

This SectionHelper doesn't seem really helpful in Phoenix's usecase.
We have to add it for each geometry we insert into the scene and the result is somewhat odd.

Here is how it looks after porting https://rawgit.com/Wilt/three.js/dev-sectionhelper/src/extras/helpers/SectionHelper.js to typescript.

![image](https://user-images.githubusercontent.com/36920441/78362495-aa10d300-75d3

[2020-04-03 12:57] EdwardMoyse commented on #39
Ah, no, that doesn't look very good does it? Hmm. That's a shame. :-(
Thanks for investigating - time to have a rethink.

[2020-04-03 13:00] 9inpachi commented on #39
https://stackoverflow.com/questions/37090942/how-to-render-clipped-surfaces-as-solid-objects

This looks like a more global fix to me. WDYT?
It's also possible to create a new derived material for detector geometries and then use an edited shader for it. It's a sideways approach but should work.

[2020-04-03 15:01] EdwardMoyse commented on #39
Isn't that just what you just tried? (It's exactly that stackoverflow question which led me to the SectionHelper)

[2020-04-03 15:10] 9inpachi commented on #39
`SectionHelper` was mentioned in the second answer. (the one we tried)
The first talks about editing the shaders of materials.

[2020-04-06 13:00] EdwardMoyse opened #77 "Disabling geometry doesn't disable it for selection"
I was trying to select a jet and this was difficult because I kept selecting "invisible" geometry instead. Manually hiding all geometry seems to make no difference.

I also noticed that with "object selection" enabled, the performance drops - my guess is the hidden geometry is still being highlighted.

[2020-04-06 13:04] EdwardMoyse commented on #77
If I manually **remove** the geometry, then it works (and performance is great!). Even better, highlighting Jets works (tracks and clusters however still not, but that's for another ticket!)

[2020-04-06 13:20] EdwardMoyse commented on #39
Ah - right. Worth a try I guess!

[2020-04-06 13:21] EdwardMoyse commented on #73
Okay, so I vote for Line2. @emiliocortina - any thoughts?

[2020-04-06 13:33] 9inpachi commented on #77
Interesting.
This is actually true the other way around too. When event data is hidden and geometry is shown, we can end up selecting event data.

Edward, I will look into this.

[2020-04-06 14:04] emiliocortina commented on #73
I am curious to see how it behaves when intersecting with the raytracer.

The main issue with the tracks is not their visibility (we are already changing line width when creating tracks with the current implementation) but selecting them.

Modifying their width only changes the way they are represented, but they are still one-dimensional objects, which makes it very difficult to select when hoveri

[2020-04-06 14:38] emiliocortina commented on #77
I had never thought of that. It was pretty straightforward to solve so I've just uploaded a fix on #76.
Let me know if there is anything wrong.

[2020-04-06 15:11] 9inpachi commented on #77
That looks good.
I was looking into the touchmove/mousemove event. :)

[2020-04-06 15:42] 9inpachi commented on #73
Sorry, I didn't follow up on this. I actually looked into selection earlier and debugged some things.

For Line2, it's just as Emilio said. But we do get a weird box in the middle like this:

![line2tracks](https://user-images.githubusercontent.com/36920441/78576269-dfbcf280-7845-11ea-8e78-7e5783f34b19.png)

Which might be used as an indicator (pretty sure not practical). However, increasing the l

[2020-04-06 15:50] 9inpachi commented on #73
Another use of Line2 is linewidth support for Windows and chrome in Mac like I mentioned in the description.

[2020-04-06 17:48] 9inpachi commented on #73
## Cylinder Geometry for Tracks

So here is another possible go at tracks:

![cylinder-tracks](https://user-images.githubusercontent.com/36920441/78588572-506d0a80-7858-11ea-8a5c-cb97f2a63b98.gif)

Code exists at https://github.com/9inpachi/phoenix/tree/cylinder-tracks

The code is very much unrefined right now and is only for testing purposes.
This is very interesting but heavy on the computing.

[2020-04-06 19:02] emiliocortina commented on #77
Thanks for checking, closing this then.

[2020-04-06 19:02] #77 closed

[2020-04-06 19:07] emiliocortina commented on #73
Ok, I will take a look at those approaches. If it ends up generating lag, maybe it is better to stick with either Line or Line2 for tracks.

[2020-04-16 10:13] 9inpachi commented on #73
`THREE.TubeGeometry` is also a good choice for loading mesh based tracks. It can be directly created from a curve instead of points and track selection also works good.

Again the only problem is scaling like I pointed before:

I am looking around in shaders to see if I can make `sizeAttenuation` work for `THREE.Mesh` and then use a material that actually supports `sizeAttenuation`.

[2020-04-22 23:49] 9inpachi commented on #39
Hi Edward,

Sorry for the late followup. I initially tried editing the file `/src/renderers/shaders/ShaderLib/meshphong_frag.glsl` as mentioned in the issue but it doesn't work.
I just got back to this issue and after a lot of looking around in the files I found that three.js files have these shaders declared inline. `three.module.js` in our case.

Here is the result:
![image](https://user-images.

[2020-04-23 06:06] EdwardMoyse commented on #39
Wow. That looks excellent! If we can possibly get that in, I think it would
be great!

On Thu, 23 Apr 2020 at 01:49, Fawad Ali <notifications@github.com> wrote:

[2020-04-23 15:32] 9inpachi commented on #39
We can edit the file `node_modules/three/build/three.module.js` and not ignore it in `.gitignore`
BUT
I think it's not practical to edit the core files of the three library. Primary reason being having to edit the file for each threejs update.

I will try creating a custom object or material derived from the already available ones with a custom `fragShader`. I will give it a try as soon as I get t

[2020-06-04 07:38] EdwardMoyse commented on #61
One example where this would be useful is to try to use e.g. https://github.com/felixmariotto/three-mesh-ui for the VR / WebXR demo.

[2020-06-04 08:43] EdwardMoyse commented on #73
A trick we used in another EventDisplay (VP1) is to have a `Tube` with a line inside. That way if the tube disappears, we still see the line. Not sure how this would behave here, or if it would lead to performance issues.

[2020-06-04 09:34] EdwardMoyse opened #85 "Resizing window scales conte nt"
I don't think we want this - the aspect ratio should be fixed, no matter the size of the viewport.

<img width="1087" alt="Scaled" src="https://user-images.githubusercontent.com/6764617/83740529-40ef1f80-a657-11ea-8ad0-b660f6ff98ae.png">

[2020-06-04 09:42] EdwardMoyse commented on #85
Ah - just noticed that this ONLY seems to happen on chrome (macos) and not on Firefox or Safari. I also get black mode by default on chrome, whereas it's light on the others. Perhaps I've got an issue locally ... I'll have a look.

[2020-06-04 10:00] EdwardMoyse opened #86 "Fail to load some JiveXML files"
Need to protect against JiveXML data without polylines.

[2020-06-04 12:15] EdwardMoyse commented on #86
Fixed with d3bf8a775fe40330f6ff974d8a0aba6f9af01d5c

[2020-06-04 12:15] #86 closed

[2020-06-04 12:25] EdwardMoyse opened #87 "Improve performance of TrackML hits"
Making this a bit more specific - in order to stop TrackML killing performance, I put a bit of a hack into the loader, to only load a subset of all hits (ac5662e03798284f685b89f2032aaf1a8e4f38ee)

It would be good to find a better solution, which allowed us to see all hits - some of the threejs examples seem to have an enormous number of points, so I assume there is a better solution.

[2020-06-04 12:33] EdwardMoyse opened #88 "Improve deployment"
We should probably tag a version, then deploy this?

It would be great to automate this - so someone with sufficient permission could do it through the web interface.

[2020-06-04 12:44] #60 closed

[2020-06-04 14:23] EdwardMoyse opened #89 "Update threejs version"
We're on (I think!) 0.114.0

Latest is 117, and there are quite a few changes:
https://github.com/mrdoob/three.js/releases

But usually this means some tweaking of our code:
https://github.com/mrdoob/three.js/wiki/Migration-Guide#r116--r117

[2020-06-04 14:33] 9inpachi commented on #73
I think it's worth to give it a try.

Another approach which I had in mind was to have two different version of tracks. One with the line geometry and the other with tubes. Such that when we turn on selection, the tube geometry tracks become visible and the line tracks become hidden and vice versa.

I tried a lot to edit the shaders for making `sizeAttenuation` work for meshes but couldn't succeed

[2020-06-04 14:40] 9inpachi commented on #88
I would say, yes. It's probably worth it to start releasing Phoenix in versions with major and minor indicators (1.major.minor - 1.0.0 for the first release).

I will take a look at GitHub actions for this.

[2020-06-04 14:42] 9inpachi commented on #85
This does exist on Chrome in Windows.

Since this comes under GUI, I will push a fix in wip-gui branch of my fork. Assigning it to myself.

[2020-06-04 14:44] 9inpachi commented on #57
Ed, by

Do you mean to fix the overlay view so it doesn't move or zoom with the main view controls?

[2020-06-04 15:02] EdwardMoyse opened #90 "Fix the VR/XR stuff"
Currently the VR/XR playground doesn't work. I suspect this isn't our fault, but is the fallout of the VR->XR migration ... see e.g.
https://discourse.threejs.org/t/no-longer-able-to-run-webxr-examples-with-valve-index/15757

And:
https://bugs.chromium.org/p/chromium/issues/detail?id=1088046

It seems like threejs needs XR, and no browser reliably supports this. But Chrome has dropped support for

[2020-06-05 13:21] EdwardMoyse opened #91 "Add CMS section"
Emilio, could you add the CMS section you developed into Phoenix?

[2020-06-05 14:25] EdwardMoyse opened #92 "Improve drawing of clusters"
Simple cubes aren't really what we want - they should have some radially extent, depending on their energy.

[2020-06-05 14:55] EdwardMoyse opened #93 "Connect collections information and 3D view"
If you click on a cluster, track etc, and the collections view is open, that object should be highlighted there. And vice versa.

It would also be great to have an option (in the collections panel?) to zoom to that object.

[2020-06-05 14:57] EdwardMoyse commented on #88
It would be great to have releases as produced by threejs:
https://github.com/mrdoob/three.js/releases

[2020-06-08 14:50] EdwardMoyse commented on #87
I wonder if disabling sizeAttenuation would help:
https://threejs.org/docs/#api/en/materials/PointsMaterial.sizeAttenuation

There must be some extra maths going on to calculate the sprite size.

[2020-06-09 12:34] #85 closed

[2020-06-09 15:27] 9inpachi commented on #93
I don't think we have a unique identifier for each event item (cluster, track etc). We need something like that in the `userData` to identify a certain event item so we can pick it up from the collections info.

[2020-06-09 19:36] 9inpachi commented on #93
Was finally able to make it work, only for tracks for now (could make it work with the other objects the same way). Since I mentioned we needed some kind of ID to identify the event object by, for now, I am attaching it to the tracks manually like this:
[code]
I think something like this is safe enough for us.

Have a look:
![wip-collections-track-selection](https://user-images.githubusercontent.c

[2020-06-09 20:51] EdwardMoyse commented on #93
Making a unique id like this should be fine I think - elsewhere we have used the index of the object (e.g. track) in its collection, but perhaps this isn't so convenient here?

It looks very nice! Would it work both ways? i.e. if I clicked on a track in the collection list, would it be highlighted in 3D?

[2020-06-09 20:57] 9inpachi commented on #93
Do you mean the uuid by index? If so, then yes. It might be more convenient. I was testing things with the current implementation.

I haven't done that yet. But making it work the other way around will be much simpler, however I am not sure how we can highlight the tracks since that doesn't work right now (because of the `Line` geometry. I will look into what I can do.

[2020-06-09 21:00] EdwardMoyse commented on #93
Yes. This shoudl be generally safe I think - in fact, this is what we do in ATLAS with our general reconstruction software ... links between objects are ("Collection name" : index )

Of course you're right that highlighting tracks is a general issue - I guess we could change the colour of that track? But it would be best to fix it properly.

[2020-06-11 10:31] 9inpachi commented on #93
Moving the camera to look at an object but it doesn't work for tracks and hits. So I was wondering if we should switch to outlines? Or its also possible to keep both the "Go to" and "Highlight" option from the collection panel.

![wip-collections-twoway-selection](https://user-images.githubusercontent.com/36920441/84374988-4f5dae00-abf8-11ea-9889-b60f3949db0d.gif)

[2020-06-12 14:01] 9inpachi commented on #88
Hi Ed,

I would need to know which actions should deploy and release the application.

We could either:
1. Deploy on web and release the application by pushing to a new tag (both occur by pushing to a tag)
2. Deploy on web by pushing to master branch (no release)
3. Deploy on web by pushing to master branch AND release the application by pushing to a new tag (both are separate)
4. Deploy on web by

[2020-06-12 21:14] 9inpachi commented on #88
So I have been testing this out a lot and improving the deployment and release GitHub action and I think the 4th options makes most sense. We shouldn't have an automated release.
Releasing is actually as simple as:
[code]
But i think it's better if we do it manually through the GitHub interface as it doesn't make much sense to just package and release the app with an automated action.

[2020-06-12 22:42] EdwardMoyse commented on #88
H Fawad

I definitely agree with not having an automated release, and I also think
releasing a version and pushing a new version to the web server are
different actions (we might want to update the web version before making a
new release, for example). But ideally it’d be great to be able to click a
button to update the demo/web version. Is this what you mean?

Cheers,

Ed

On Fri, 12 Jun 2020 at

[2020-06-12 23:31] 9inpachi commented on #88
button to update the demo/web version. Is this what you mean?

I don't think the GitHub interface allows us to create something like that. But [THIS](https://medium.com/@christinavhastenrath/how-to-run-github-actions-manually-afebbe77d325) might be possible through GitHub actions. If you mean a button on the Phoenix website then I think we will need to use the GitHub API but I don't have any idea

[2020-06-15 11:06] 9inpachi commented on #93
Hi,

I forgot to give an update on this. I added the option to highlight.

![wip-collections-w-highlight](https://user-images.githubusercontent.com/36920441/84650631-15571980-af22-11ea-954f-f15acda333be.gif)

The "Look at object" option doesn't work for tracks and hits. I will look into what I can do about it.

[2020-06-15 13:53] 9inpachi commented on #73
So I gave this a try today and the result is very promising
BUT
We are looking at a loss of about 10-20 frames which is not great.

See this:
![tracks-line-tube](https://user-images.githubusercontent.com/36920441/84665592-6d4d4a80-af39-11ea-93a9-955594fa7c9b.gif)

[2020-06-15 13:55] EdwardMoyse commented on #73
No, that's not idea. But maybe this could be another configuration option? I naively assume that it's the tubes that cause the FPS drop?

[2020-06-15 14:08] 9inpachi commented on #73
Contrary, it looks like its due to `THREE.Line`.
I just took a look again and it seems we get the same FPS as with `THREE.Line`. `TubeGeometry` alone is what gives better FPS.

We will have to handle selections a little different for both of these to work together. I guess we can use `TubeGeometry` for all the selection related functions and have the Line just there for visual purposes.

[2020-06-15 15:31] 9inpachi commented on #73
It seems I was not debugging properly since I was also working with collections at the same time. The performance is great for both `TubeGeometry` and `Line` individually and combined too. I am getting a solid 60 FPS for both the `Line` and `Tube` combined.

I will be pushing the changes along with the #93 issue (`wip-collections` branch on my fork). All of it is almost complete.

[2020-06-15 15:33] EdwardMoyse commented on #73
Excellent!

[2020-06-16 16:01] #73 closed

[2020-06-16 16:01] #93 closed

[2020-06-23 13:03] EdwardMoyse opened #100 "Visualise vertices"
We need to visualise "vertices" (primary, secondary etc)

(I will expand on this - I just wanted to add it not to forget!)

[2020-06-26 09:34] 9inpachi opened #101 "Antialiasing issues"
Hi,

After some debugging, I rendered the main renderer after the `EffectComposer` renders and apparently antialiasing worked. The antialiasing issue CAN BE solved but there are some problems.
I found that antialiasing doesn't work with `EffectComposer` (see [THIS](https://github.com/mrdoob/three.js/issues/4287#issuecomment-43917659)) or post processing in general because of the limitation in WebG

[2020-06-29 13:27] EdwardMoyse commented on #101
Ouch - this is painful. So we either give up on the nice glow effect, or we cannot have AA. :-(

This might be another thing we should make switchable. Another option for selection would be to change the colour of the objects in question...

[2020-06-30 10:17] EdwardMoyse opened #102 "Icons broken on upload screen"
Just saw this when testing on the ATLAS section

<img width="887" alt="image" src="https://user-images.githubusercontent.com/6764617/86114988-976f4280-bacb-11ea-9e5e-f17f351d9a14.png">

[2020-06-30 10:20] EdwardMoyse opened #103 "Make it possible to scale jets / energies in general"
This should be something the user can tweak (in options, which we should also add) but also we should consider setting a sensible autoconfiguration ... the jets should never extend too far.

<img width="887" alt="image" src="https://user-images.githubusercontent.com/6764617/86115269-02207e00-bacc-11ea-8e06-c42f0fe9b419.png">

[2020-06-30 10:23] 9inpachi commented on #103
Hi Ed,

This is something I already did during the CMS integration.
Take a look at the code: https://github.com/9inpachi/phoenix/blob/wip-cms/src/app/services/loaders/objects/phoenix-objects.ts#L99-L102

[2020-06-30 10:26] EdwardMoyse commented on #103
Ah cool! I think we should still make it possible for users to slide a scale - sometimes it's cool to make them look big, sometimes they get in the way (depending on the physics). But it could also just be in the configuration for the moment.

BTW is there any reason not to merge in your CMS WIP?

[2020-06-30 10:30] 9inpachi commented on #103
I am just polishing the code a little. It's all done. Will send a PR today.

About the CMS geometry. Would it be fine to use the one you shared with the Phoenix tasks?

[2020-06-30 10:43] EdwardMoyse commented on #103
Yes, of course!

[2020-06-30 13:07] #91 closed

[2020-07-01 15:12] EdwardMoyse opened #106 "Add option to load geometry on demand"
Since geometry can be large, we should make it possible to conditionally load the geometry. i.e. have a placeholder in the menu, but only actually load the geometry when clicked on.

[2020-07-01 20:10] 9inpachi commented on #102
This might be a temporary loading bug.
They seem to load fine on my side and on the deployed version as well.

![image](https://user-images.githubusercontent.com/36920441/86286910-c1765100-bc00-11ea-9675-76c555671765.png)

[2020-07-01 20:26] 9inpachi commented on #106
Do you mean to load the geometry when we click on the "Geometry" group of dat.GUI? Or when we check the "Geometry -> Show" checkbox (will be disable by default)? Or to have the option in the UI menu?

[2020-07-02 04:45] EdwardMoyse commented on #102
Yep. Agreed.

[2020-07-02 04:45] #102 closed

[2020-07-03 05:23] #103 closed

[2020-07-03 12:52] 9inpachi opened #108 "Improved event data format JSON"
Hi all,

So about the event data JSON. Edward and I discussed a new format that's about 40% less in size.

**Previous Data Format:**

[code]

**New Data Format (inspired by CMS ".ig"):**

[code]

The advantage of the new data format is that we don't have to use object keys for identifying each parameter of physics object in a collection. Using keys as parameter identifiers takes a lot of space sin

[2020-07-03 16:26] 9inpachi commented on #108
So, as opposed to what I said earlier. The size different is actually **HUGE**!
The more data we have, the more space we save.

Take a look at the same JSON data converted to the new format:

![image](https://user-images.githubusercontent.com/36920441/86486049-bf80cf00-bd73-11ea-9daa-4d15c3ec121c.png)

[2020-07-05 06:08] EdwardMoyse commented on #106
I think it should be per-piece of geometry. So we can define some geometry that is loaded immediately (show is on) whilst other stuff is in the menu, but not loaded by default. But when you click on it (click show), it appears.

[2020-07-06 06:45] EdwardMoyse commented on #108
Hi @9inpachi, thanks for this! Truly impressive size reductions!

So, after some reflection I think:
1) We should put `types` into `ObjectType` : I know for ATLAS that e.g. Tracks can have different content depending on the collection. It would be okay to do it the other way around (we would just make `types` the superset) but since I don't think this will have a significant impact on the size, I

[2020-07-06 11:02] 9inpachi commented on #108
This is surely possible but it will be upon the one generating the files to specify all this information - which I think might be troublesome. Using `types` inside each collection separately is more flexible I think - and we won't be adding more than 2-3 KB of data if we use it.

You don't actually need to. Just use the same functions you currently have. There is a function in Phoenix to convert t

[2020-07-16 14:44] 9inpachi commented on #108
Hi @EdwardMoyse,

So I was finalizing this and I have some really bad news - rendering all the conversion functions useless.
That is, the sizes I compared was for current format with spacing (formatted JSON) and the new format with minified JSON (no spacing) which naturally decreases the size. In actuality, the size difference when both the formats are minified is only 9 KB (229 KB for current for

[2020-07-27 17:03] #106 closed

[2020-08-17 17:17] 9inpachi commented on #57
Fixed in #81 and 30e568fdec28511491f28e73c7737e4af189e407.

[2020-08-17 17:17] #57 closed

[2020-08-17 17:22] 9inpachi commented on #44
@EdwardMoyse I didn't see this while working with JSROOT.

Can you share any example files? I will see what kind of data they have.
And also share the goals you have in mind for this. Thanks. ^_^

[2020-08-19 16:25] tomeichlersmith opened #122 "How do you make the detector geometry?"
Hello,

I am a developer for another physics experiment: [ldmx-sw](https://github.com/LDMX-Software/ldmx-sw), and I want to update our event display to something that uses Phoenix. How could I go about translating our detector geometry (which currently is hosted in a set of `gdml` files) into the files that are input to Phoenix? I poked around the repository, and it looks like the geometry files i

[2020-08-19 17:03] 9inpachi commented on #122
Hi @tomeichlersmith,

Phoenix supports most of the popular 3D formats on the web - which are `.obj`, `.gltf` and `.json`. We will also be supporting ROOT's `.root` and `.json.gz` file formats for loading detector geometries (see #117 for details on this). If you can get your geometry to any of these formats, you will be able to load them in Phoenix.

Having a really quick overview of `gdml` geomet

[2020-08-20 12:28] ric-bianchi commented on #122
Hi @tomeichlersmith and @9inpachi ,

About loading `gdml` files into three.js-based apps, I think @tpmccauley would be able to comment further and give you some suggestions.

Best,
-- Ric.

[2020-08-20 14:26] EdwardMoyse commented on #122
ROOT supports GDML AFAIK, so I think this should be pretty easy once #117 is in.

Otherwise, Phoenix has many loaders already - I'm sure it would be technically feasible to add a GDML importer. It just might be a fair amount of work...

[2020-08-20 14:31] tomeichlersmith commented on #122
Thank you all! I will focus on using the ROOT route, and default to writing my own `.json` if that doesn't work. Our detector geometry is simple compared to the other, larger HEP experiments.

[2020-08-20 14:31] #122 closed

[2020-08-25 13:57] EdwardMoyse opened #127 "Bug with controls for detector in Phoenix menu"
When I click on the 'gear' next to the detector, multiple wireframe opacity controls appear

Also, it would be good to have the scale show the current value ... otherwise it's very hard to get back to where we are (actually I think the scale should not been shown outside of playground)

[2020-08-25 14:08] EdwardMoyse commented on #127
![Aug-25-2020 16-01-47](https://user-images.githubusercontent.com/6764617/91184653-2a53e400-e6ed-11ea-9cfd-3df87d93cbd5.gif)

[2020-08-25 14:16] EdwardMoyse opened #128 "Bug with Phoenix menu and collection info"
When I click on collection info, the highlight and focus/move camera icons aren't working correctly (they're offset)

![Aug-25-2020 16-10-00](https://user-images.githubusercontent.com/6764617/91185426-18267580-e6ee-11ea-9402-ca44e007ea1a.gif)

[2020-08-25 14:24] 9inpachi commented on #127
Good find!
I didn't notice this - since I don't often open this setting - or may be I have been debugging with CMS more where it doesn't happen.
I am including the fix in the next PR for animations.

[2020-08-25 14:40] 9inpachi commented on #127
Also, should I add the editable value option for "Opacity" as well?
I will remove the scale option. I am not sure if we will be able to make it optional for playground only since everything happens inside the UI service. And I am not sure if we should add a parameter for it in the geometry loading functions of event display. We already have [five parameters](https://github.com/HSF/phoenix/blob/mas

[2020-08-25 14:45] 9inpachi commented on #128
I can reproduce this on my side.
Did you try it before and was it working fine then?

[2020-08-25 14:48] EdwardMoyse commented on #127
I think opacity is useful, but I can't imagine why anyone would want to change the scale of part of an actual experiment.

I was more imagining that this would be in [configuration](https://github.com/HSF/phoenix/blob/master/src/app/services/extras/configuration.model.ts).

[2020-08-25 14:50] EdwardMoyse commented on #128
Yes, it was working before. I'm seeing this in Chrome and Safari. How strange that you can't see it!

[2020-08-25 14:52] 9inpachi commented on #128
It seems to work fine on the phone as well.
I am on the animations branch right now. I will try checking out master to see if the issue surfaces.
It might be a Mac specific issue otherwise.

[2020-08-25 14:58] EdwardMoyse commented on #128
I'll try to test on a windows machine tonight.

[2020-08-25 14:59] 9inpachi commented on #127
I see. I didn't focus much on the configuration since it didn't offer much to begin with.
I think we can introduce a couple of other options for the Phoenix menu through configuration as well. But probably not possible right away.

[2020-08-25 15:16] 9inpachi commented on #128
Cannot reproduce on the master branch either.

[2020-08-25 20:26] #127 closed

[2020-08-26 09:21] EdwardMoyse commented on #128
Hmm. I don't see it in Firefox or Chrome on Windows, but I do see it in Safari and Chrome on mac. In firefox on mac it's also okay. There is another difference I see - when it works, the positions are wrapped. When it doesn't work, they extend to the right and I need to scroll to see them all.

[2020-08-26 14:16] EdwardMoyse commented on #90
I thought I'd update this. The only way I can Enter VR on Oculus (Windows10) is with Chrome Canary (+StreamVR Beta). But even then all of the content is rendered onto a plane in front of me - it's very odd... if I turn my head I can move around and see the plane, but the view ON the plane changes too. So something is wrong. At least with this the threejs examples work.

Whilst with latest Firefox

[2020-08-26 22:05] 9inpachi commented on #128
Able to reproduce this on my phone with chrome. Although it works fine on opera.

[2020-09-01 14:52] EdwardMoyse opened #133 "Cuts aren't initialised with the correct values"
They start as zero - they shoudl show the existing values.

![image](https://user-images.githubusercontent.com/6764617/91867095-8382c100-ec73-11ea-9474-06881bcc26cd.png)

[2020-09-01 16:18] 9inpachi commented on #133
@EdwardMoyse just wanted to confirm. Is that how it worked before?

[2020-09-01 18:31] 9inpachi opened #134 "DISCUSSION: Make event display Angular independent"
Hi,

I think this is something we should do - make the Event Display and all the required services Angular independent and create them as simple classes. The idea is to separate the Phoenix API completely from the frontend Angular application and then use the API in the application. This API will not include Angular specific components like the Phoenix menu and UI menu.

The motivation behind this

[2020-09-02 15:06] EdwardMoyse commented on #128
This might be back... or at least, something is odd. Go to the  [deployed version](hepsoftwarefoundation.org/phoenix), choose ATLAS, then open the collection view and select InDetTrackParticles. I see:
![image](https://user-images.githubusercontent.com/6764617/92001096-8eeeee80-ed3e-11ea-980a-31c311de0c14.png)

[2020-09-02 15:07] EdwardMoyse commented on #133
I'm not sure this ever worked right, no. I just noticed that the track colour, and the cuts, are not set in the GUI as they are in the code.

[2020-09-02 15:08] EdwardMoyse commented on #89
We're on r120 now, with the following commit:
66a66b4d571a7e0e0a152e0d0e811d64323211dd

[2020-09-02 15:08] #89 closed

[2020-09-02 15:09] EdwardMoyse commented on #44
@9inpachi reported that jsroot can't open ATLAS AOD files because of the compression used. :-/

[2020-09-02 15:11] EdwardMoyse commented on #4
Sorry @ss4774 - I never replied! In general no, we don't have precise timing information (at least not in the event data written out).

But @9inpachi did a nice implementation in #129

[2020-09-02 15:11] #4 closed

[2020-09-02 15:11] EdwardMoyse commented on #11
Done with #121

[2020-09-02 15:11] #11 closed

[2020-09-02 15:12] #37 closed

[2020-09-02 15:14] 9inpachi commented on #128
I am pretty sure it's because of the debugging we were doing with RungeKutta where we limited the generation of tracks to 1 per collection. Exactly [THIS](https://github.com/HSF/phoenix/blob/master/src/app/services/loaders/phoenix-loader.ts#L281) line.

I refactored and fixed this with #135

I see this with the latest version:

![image](https://user-images.githubusercontent.com/36920441/92002048-d

[2020-09-02 15:46] EdwardMoyse opened #136 "Bug with visualising some trackcollections in JiveXML"
There are a few things here. Firstly, I needed to hack the JiveXML loader to rename the 'Tracks' collection to 'Tracks.' to avoid some weirdness. This isn't so nice, so we should protect against collections having the same name as the type.

But even after that I don't see Tracks or CombinedInDetTracks. In the console, I see: Tracks collection Tracks has 523 constituents, so there should be a LOT.

[2020-09-02 15:58] EdwardMoyse commented on #136
Okay, I added some more debug information:
[code]

So it's not specific to Tracks.

[2020-09-02 16:07] EdwardMoyse commented on #128
Hmm. I noticed something else here - only the tracks with the icons have uuids.

[2020-09-02 16:20] EdwardMoyse commented on #128
Argh! I missed your comment above. Yes. You're right of course. Doh.

[2020-09-02 16:20] #128 closed

[2020-09-02 16:27] EdwardMoyse commented on #136
Same solution as #128

[2020-09-02 16:27] #136 closed

[2020-09-04 12:03] EdwardMoyse commented on #134
I think this is a good idea! The workflow above looks good ... but how does this work with the .html experiment files?

[2020-09-05 06:16] 9inpachi commented on #134
Do you mean the component templates in Angular?
It'd be pretty simple. We only need ID for the canvas (or a div we can append to) used by three.js.

And we'd also need to think how we would accommodate the UI service this way or if we should change the architecture for it.

[2020-09-08 12:18] EdwardMoyse commented on #134
Yes, I meant the component templates. Okay - this sounds good.

I'm not sure I understand how the UI Service would work. Maybe we can chat about this this week?

[2020-09-08 13:30] 9inpachi commented on #134
I made the UI and Three service into managers which we can access through the event display.
It works quite well - but if someone wants to adapt the functions in their own app, they will have to create their own components if they are not using Angular (that makes sense because Phoenix is a library/API).

I have a sample application with React ready to roll. I will upload it to a repo soon.

[2020-09-08 13:34] 9inpachi commented on #134
I am facing problems with what kind of modules we can generate to be reusable. I am using "esnext" for now and it works fine with Angular and React. But I would like to generate a single UMD module which anyone can include in their HTML files through a script tag and dependencies. But haven't had much luck with it. :(

[2020-09-08 13:49] 9inpachi commented on #134
Take a look at usage in react: https://github.com/9inpachi/phoenix-react

To make it work, we need the following steps since "@phoenix/event-display" is not on npm yet.

* Get the files from https://github.com/9inpachi/phoenix/tree/wip-eventdisplay
* In the `/packages/phoenix-event-display` directory, open terminal and type `npm link`
* Now get back to the React app and remove `@phoenix/event-disp

[2020-09-16 12:55] EdwardMoyse commented on #90
This all works now, thanks to recent MRs by @9inpachi

[2020-09-16 12:55] #90 closed

[2020-09-16 18:12] 9inpachi commented on #134
Closed with #140

[2020-09-16 18:12] #134 closed

[2020-09-18 15:04] EdwardMoyse opened #142 "Add ranged cuts"
This would be nice in general, but especially for the clipping cuts, where currently we can only clip from 0 - 180. What would be better is to be able to clip to arbitrary ranges e.g. 200-270 degrees.

What I mean is something like:

![image](https://user-images.githubusercontent.com/6764617/93613275-efce2600-f9d0-11ea-96d7-3c697540afd4.png)

https://www.bestjquery.com/?wxmleVah

[2020-09-18 16:23] 9inpachi commented on #142
Angular material doesn't have it for some reason. We might have to use some other component or create our own.

[2020-10-01 10:23] 9inpachi commented on #142
`NpnSlider` doesn't seem to work. I am having the same issue as npnm/NpnSlider#9 which doesn't let me drag the sliders.
I am guessing it's because of the Angular version. It was built on Angular 6 and we are on 10.

[2020-10-01 16:02] 9inpachi opened #144 "Cuts not working after implementing pretty params"
It seems using the pretty params directly as objects' `userData` causes cuts to not work.

Possible options are to

* Either put pretty params in a separate property of `userData` object
* Or use the new pretty param symbols as cut fields

Not sure which is more stable. For now I think we should go with putting pretty params inside a `userData` object property since it's something we process throu

[2020-10-01 16:36] 9inpachi commented on #144
Fixed with f1a561dc98ec78a46a5a15e0f4b5429f711acdb7.
Will add it with the range slider I am working on.

[2020-10-01 16:54] EdwardMoyse commented on #144
Cool!

Does this mean we couldn't have cuts on pretty parameters then? This would be a shame if so - it might be convenient to be able to cut on absolute momentum, for example, or pT.

[2020-10-01 17:02] 9inpachi commented on #144
I think the new solution with the commit I mentioned is better. In it, we only get the pretty parameters when we need (for representation). For example, when we display it in the collection info or the selection overlay.

The actual parameters remain the same as they are in the event data.

[2020-10-01 17:05] 9inpachi commented on #144
We do have them. It's just that in general, the code will not use the pretty symbols - but the old alphabetical representation - so we have the parameters the same as they are in event data for the sake of consistency in code.

[2020-10-02 09:30] 9inpachi commented on #88
@EdwardMoyse About deployment, I think it would be good to deploy automatically with a "pull request". Having pull requests for each new feature / fix helps in tracking them better as well.

[2020-10-02 10:56] EdwardMoyse commented on #88
So you mean each accepted PR would lead to a deployment? This might be simplest I suppose - I worry a little that it means we can't easily have a 'production' version which we keep stable. Though this will matter less once experiments have their own deployed versions....

[2020-10-02 11:09] 9inpachi commented on #88
That is true. I just haven't work on deployment so much to know an optimal way to do it for a project like Phoenix.
But if it's a matter of stability and versioning, I think what would work better is to have production only when releasing a new version of the event display and the app. That is to have a single command in the root repository, something like `npm run deploy` or using yarn or some ot

[2020-10-02 11:11] EdwardMoyse commented on #88
Yes, this sounds like a very good solution. I would say, we should tag the version at the same time. That way it can be marked as a release inside github too.

[2020-10-02 11:11] #142 closed

[2020-10-02 11:11] #144 closed

[2020-10-02 11:14] 9inpachi commented on #88
Yes, indeed.

I will see how we can authenticate for the release.

[2020-10-02 11:36] EdwardMoyse opened #146 "Save and load configuration"
It would be great if we could save and load the configuration of the Phoenix menus (what is shown, what colour etc etc)

As stage two, saving the camera locations would be great.

This would ultimately mean that the config could be loaded by the section, so developers could pre-configure a nice layout and have this loaded by Phoenix.

[2020-10-02 11:59] 9inpachi commented on #146
Sounds interesting. I can say that Phoenix menu already maintains a menu state for each node - so with some tweaking and adaptation - it should work.

Setting up scene related configuration should be easy.

May be I will take a look this weekend. ;)

[2020-10-05 21:56] 9inpachi commented on #88
Done with 9fa150b9f05f0a51d8bd5add3b682033179385b8 and 399ac77703c326c1b4523146b23688a12ec97cc0.

[2020-10-05 21:56] #88 closed

[2020-10-06 21:56] 9inpachi opened #147 "DISCUSSION: Commit messages for changelogs"
This discussion is about making commit messages follow a convention. The reason is changelogs for releases. For example, changelogs using lerna are generated like [THIS](https://github.com/babel/babel/blob/main/CHANGELOG.md) for babel. Looks like they have a [custom configuration](https://github.com/babel/babel/blob/main/lerna.json#L3-L17) for using labeled PRs as changelogs.

These changelogs are

[2020-10-13 14:48] #43 closed

[2020-10-13 14:48] EdwardMoyse commented on #22
Done for a loooooong time.

[2020-10-13 14:48] #22 closed

[2020-10-13 15:08] EdwardMoyse opened #149 "Add functionality so that Phoenix can be started up with a specific event"
The ATLAS usecase is this - physics analysis might want to have a dedicated webpage which shows 'their' event, so they can use it as part of their analysis presentation. Ideally they can also configure the setup of Phoenix to show just the objects they care about (the recent PR #148 should really help with this!)

I'm thinking that the easiest/quickest might be to have a variant of `npm run releas

[2020-10-13 15:09] EdwardMoyse commented on #27
93% now!

[2020-10-13 15:21] 9inpachi commented on #27
@EdwardMoyse This coverage is for the Angular application only.

I did increase the overall coverage to 89% when both the event display and the app were together but now the tests for event display are deprecated since the event display and the other parts are not Angular services anymore. They need to be set up from ground up using some framework (may be jasmine).

Most of the tests should be reu

[2020-10-13 16:00] 9inpachi commented on #149
Since it's a minimal and unique use case. I think the ideal way of doing this would be to create a separate application which uses the `phoenix-event-display` and `phoenix-app` packages to have only a single page (like the ATLAS experiment) to load a specific event with UI and Phoenix menu controls.

If we want to use the `phoenix-app` without creating a new one, I don't know if it's even possible

[2020-10-13 17:41] EdwardMoyse commented on #27
Oh of course... I didn't think to check the framework.

[2020-10-14 15:47] EdwardMoyse commented on #147
Sorry for taking so long. I do worry a little that this might be a bit of extra work, but it does look very nice and I think as long as we document it well, it shouldn't be a big problem for contributors.

I'm fine with the Angular commit convention - in the end I think the most important thing is to have something simple, but fairly flexible. They seem to match this requirement. We would just hav

[2020-10-15 09:55] EdwardMoyse commented on #149
This sounds perfect - I just don't want to avoid duplicated code. But if we can use `phoenix-app`, this should be minimal

[2020-10-15 15:39] EdwardMoyse opened #150 "Phoenix isn't working with Oculus browser or Firefox reality on Quest2"
We don't see the VR button. First issue is to work out how to debug this, but opening this to remind me.

[2020-10-15 15:54] 9inpachi commented on #150
Can you check if the official three.js example for VR works? (https://threejs.org/examples/webxr_vr_cubes.html)

[2020-10-15 16:16] EdwardMoyse commented on #150
Yes it does. I’ll try to connect it to a PC tomorrow and enable remote
debugging.

On Thu, 15 Oct 2020 at 17:54, Fawad Ali <notifications@github.com> wrote:

[2020-10-15 16:48] 9inpachi commented on #150
Oh yes, one more important thing. Are you running the app with HTTPS?

It's really peculiar if it still doesn't work. Because we have the same check as the three.js VRButton. ([OUR CODE](https://github.com/HSF/phoenix/blob/master/packages/phoenix-app/src/app/components/ui-menu/vr-toggle/vr-toggle.component.ts#L17-L24) - [THEIR CODE](https://github.com/mrdoob/three.js/blob/dev/examples/jsm/webxr/VR

[2020-10-15 22:14] 9inpachi commented on #146
Will work on it to save camera position as well. Just can't think of a good way to do it since we can't access the event display directly from a Phoenix menu node.

[2020-10-16 16:01] EdwardMoyse commented on #150
Doh. Sorry, yes, that was it.

[2020-10-16 16:01] #150 closed

[2020-10-16 16:04] EdwardMoyse opened #151 "Issues with Phoenix in VR"
There are two problems that I've spotted so far:

- no 6 DOF (ideally we would be able to walk around)
- performance is *terrible* ... it's 2 or 3 frames per second I think, and there are lots of clipping issues.

I suspect the first is solvable... the second might be hard, though I don't think our scene is particularly complicated compared to others I've seen which work really well.

Anyway, not

[2020-10-16 16:33] 9inpachi commented on #151
I don't quite get this. Can you elaborate a little?

What device are you on?
Even on my phone with relatively low end integrated graphics (Adreno 509), I get about 30 FPS inside the detector and 50-60 FPS outside it.

Can you share some screenshots of this?

[2020-10-16 17:04] EdwardMoyse commented on #151
Simpler VR headsets (and phones) can only measure orientation (3 degrees of freedom).

The Rift/Quest etc can also measure position (6 DOF / degrees of freedom) but this isn't being used by Phoenix. I need to check if other threejs demos permit this, but certainly other WebXR demos do.

It's a Quest2, so pretty powerful (it has an XR2 - the most powerful mobile android chipset at the moment I beli

[2020-10-16 17:17] 9inpachi commented on #151
There shouldn't be any performance issues then. The only thing I can think of is that the main renderer doesn't get stopped so both VR renderer and the main renderer are running at the same time which can cause a drop in performance, but still not something of this degree. Not sure how to debug it without a device at hand. :(

[2020-10-16 17:20] EdwardMoyse commented on #151
I'll try to find some time to investigate a bit more myself. It is very odd - even though it's rendering twice (one per eye) it shouldn't drop from >60FPS to <10 FPS. Though perhaps it's a combination of what you suggest and the double rendering... It will be interesting to see if there is any advice out there of how to debug this.

[2020-10-16 17:22] 9inpachi commented on #151
Let me check, the chrome debugging extension might have an option to select Quest2 as the device.

[2020-10-16 17:26] 9inpachi commented on #151
So yes. I can reproduce this with the "Oculus Quest". I get about 20-30 FPS.

Does the scene look similar to this?

![image](https://user-images.githubusercontent.com/36920441/96289526-a9cfa680-0ffe-11eb-8b35-a9da66865d34.png)

[2020-10-16 17:29] EdwardMoyse commented on #151
Well, it's even worse (random triangles clipping through) but yes similar.

[2020-10-16 17:36] 9inpachi commented on #151
And somehow it looks fine on phone.

![Screenshot_20201016-223247](https://user-images.githubusercontent.com/36920441/96290342-df28c400-0fff-11eb-846d-4ae2dcf18b67.jpg)

I will debug it and follow up here. Let me know if you find something on your end.

[2020-10-16 22:00] 9inpachi commented on #151
Finally found the bug. It's because of the wretched `EffectComposer`!
I have a fix prepared, I will refine it tomorrow.

[2020-10-18 12:52] EdwardMoyse commented on #151
Hi @9inpachi - amazing that you found it! I look forward to seeing what it was.

[2020-10-18 13:09] 9inpachi commented on #151
Hi @EdwardMoyse You can check the fix from [fix-vr](http://github.com/9inpachi/phoenix/tree/fix-vr) and let me know if it works.

[2020-10-18 13:29] EdwardMoyse commented on #151
I tried what you have in `fix-vr` - I can confirm it seems to fix the glitching. Unfortunately it's still very, very slow.

[2020-10-18 16:10] 9inpachi commented on #151
I have no idea why it's so slow. May be debugging it on the device will help. The current render we do for VR is the minimal one. I don't think we can process anything less than what we are processing now.

[2020-10-19 15:04] EdwardMoyse commented on #151
Hi @9inpachi - I've managed to get some performance measurements from running Firefox reality on the Quest. FPS is pretty low even outside of VR, so perhaps this isn't VR-specific (it's just it's much more noticeable there)

I attach three:
- threejs - this is the vr/dragging example
- phoenix - ATLAS rotating not in VR
- phoenixVR - ATLAS rotating, in VR

I have to say I need to learn a lot more

[2020-10-19 15:23] EdwardMoyse commented on #151
Okay, forget all of this - I worked out how to debug using Oculus Browser, and .... there the performance is *excellent*. So, it seems to be limited to Firefox Reality and the fix is just we recommend Oculus Browser.

[2020-10-19 15:23] #151 closed

[2020-10-19 15:23] EdwardMoyse commented on #151
(But please push `fix-vr` when you get a chance!)

[2020-10-21 08:36] EdwardMoyse commented on #147
Following on from this, if we take the angular convention, how about this:
[code]

Another option would be to keep the commit-scope very simple and have just ` app | event-display` and then rely on the summary for context (I think I probably prefer this).

[2020-10-21 08:43] 9inpachi commented on #147
Oh yes. I was thinking of adding this to the contribution guidelines but couldn't get the time.

I think it's best if we go with the simpler scope(s) you propose. Having only the app and event-display will be better.

And we can further simplify the type as well and use only 4-5 types like `feat | fix | docs | style | build`. I don't think we need that many. We can add a `misc` type for miscellane

[2020-10-21 08:44] EdwardMoyse commented on #147
Okay, perfect.

I want to do some documentation changes today, so I'll add this.

[2020-10-22 08:43] EdwardMoyse opened #155 "Hide all menus for screenshot"
Think this is pretty self-explanatory... we should make it possible to hide all menus so that someone can take a screenshot. The experiment logo and details should be visible still though.

[2020-10-22 10:45] EdwardMoyse opened #157 "Make the experiment info panel draggable"
Could be useful for screenshots.

[2020-10-23 10:23] #157 closed

[2020-10-26 06:10] #147 closed

[2020-10-27 05:43] 9inpachi commented on #146
Implemented with #148 and #159.

[2020-10-27 05:43] #146 closed

[2020-10-28 15:32] EdwardMoyse opened #163 "App Deployment: make it possible to modify routes on deployment"
The idea would be to be able to modify Phoenix on deployment so that only one component is shown
i.e.
change a URL like:
http://phoenixatlas.web.cern.ch/PhoenixATLAS/#/atlas

to:
http://phoenixatlas.web.cern.ch/PhoenixATLAS/#/

i.e. the route would be modified to be (in this case):
[code]

[2020-10-28 15:51] EdwardMoyse commented on #163
And I think we can probably disable the `useHash` at the same time?

[2020-10-28 16:05] 9inpachi commented on #163
How about we make it a part of #149? Have a single route for this and supplying an event (through some kind of configuration file) will load it with that event.

[2020-10-28 16:10] 9inpachi commented on #149
I was trying to do this today and it seems there is no easy way around using the components from `phoenix-app` in a different app. What would make sense is that we make a library and add the components we have to the library. We might be able to make the library a part of the `phoenix-app` itself (or a different package).

[2020-10-29 09:44] EdwardMoyse commented on #149
Okay, understood. This is definitely better than just copying code. I don't have any strong opinions about whether it's best to be part of `phoenix-app` or a new (`phoenix-ui`?) library...

[2020-10-29 22:25] 9inpachi opened #165 "Use object to simplify configuration"
We should use a single JavaScript object and simplify the configuration. Right now we have a class and we create an object and pass it to the event display which is unnecessarily complex and I don't think it's the right way since we don't need any class functions in our case.

As a practical example.

**Current flow:**

[code]

**Proposed/updated flow:**

What we could or should do using a simple

[2020-10-30 15:07] EdwardMoyse commented on #165
I was actually thinking something similar when I was working on the default view, so definite +1 from me!

[2020-11-10 09:15] #165 closed

[2020-11-10 23:05] 9inpachi commented on #155
Done with #167

[2020-11-10 23:05] #155 closed

[2020-11-12 10:00] #149 closed

[2020-11-12 10:00] #163 closed

[2020-11-13 09:31] 9inpachi opened #170 "Set up and modify tests for phoenix-event-display"
The old jasmine tests written in Angular context are no longer valid and need to be modified. We will need to set up either jasmine or some other testing library for the `phoenix-event-display`.

[2020-11-13 14:23] EdwardMoyse opened #171 "Make it possible to add geometry to a folder"
For example, I would like to be able to do:
[code]
And have both of these appear under an Inner Detector sub-folder.

[2020-11-13 14:32] 9inpachi commented on #171
I would like to implement this generically with the ability to specify a node in the Phoenix menu to add this to.
Not sure how to do that right now. But I'll think about it.

[2020-11-13 14:38] EdwardMoyse opened #172 "Add ability to load a "label" file"
This is going to take a bit of thinking about ... but here are a few usecases to illustrate the point:
1. we want to be able to "decorate" Calorimeter cells with calibration information (and then possibly colour them differently, depending on the information)
2. we want to be able to identify two tracks as a positive and negative muon, as determined by the reconstruction and then add a label to th

[2020-11-14 11:01] 9inpachi commented on #171
So I am thinking of a separator if we want to insert our geometry into a multilevel hierarchy. For example, "Inner Detector>More Inner Detector" will put the geometry inside the "More Inner Detector" folder which will be inside "Inner Detector" folder and the separator is `>`. Is this separator good?
We can also use `.` or `:` as a separator. Not sure which will work better.

[2020-11-14 12:08] EdwardMoyse commented on #171
That’s a good idea! I think > is fine (as are the others!)

We could presumably make more than one sub-menu this way too ... but then
it would probably make more sense to reverse the order i.e.

SubMenuLevel1 > SubMenuLevel2 > MenuItem

?

On Sat, 14 Nov 2020 at 12:01, Fawad Ali <notifications@github.com> wrote:

[2020-11-14 12:56] 9inpachi commented on #171
Not sure about this. For me, as a normal user, this looks anti intuitive. I would expect the order to be as top to bottom hierarchy. Do people you work with prefer the reverse order?

[2020-11-16 12:17] EdwardMoyse commented on #171
Sorry I think I misread your initial message and actually we agree!

Just to check, taking Pixels as a concrete example, as a user the top level menu item you see is Geometry and then you would open Inner Detector and the finally click on Pixels to visualise them.

So, since Geometry is implied, this would become:
[code]

And if we had more details to visualise it could be e.g.
[code]

[2020-11-16 12:21] 9inpachi commented on #171
Yes Ed, exactly.

On Mon, Nov 16, 2020, 5:17 PM EdwardMoyse <notifications@github.com> wrote:

[2020-11-16 12:38] #171 closed

[2020-11-17 12:11] 9inpachi commented on #101
@EdwardMoyse

In order to make it switchable we have to have a separate `WebGLRenderer` because according to #8265 dynamically setting the antialiasing is not possible.

The solution I have is to have antialias enabled by default. Now if the `EffectComposer` renders the scene, this antialias will automatically not work (hence disabled). And if we want to toggle antialiasing through a button we wil

[2020-11-17 15:39] EdwardMoyse commented on #101
Are you proposing that antialiasing would automatically disable itself if a user selects the pick icon? That could be worth a try ...

[2020-11-17 17:44] 9inpachi commented on #101
Yes it will. The other option is to have a performance toggle which can enable disable the antialiasing manually. And always set the antialiasing to be false in selection.

[2020-11-18 08:01] EdwardMoyse commented on #101
I think in general we should probably aim to have some more options/toggles, but this sounds like a good solution for now.

[2020-11-19 09:18] EdwardMoyse opened #177 "Optionally extend all tracks to a radius"
I'm not quite sure how to implement this best, but I just wanted to make note of the problem.

In the ATLAS example, the `CombinedInDetTracks` have some measurements, and so are not propagated. But they do not reach out to the calorimeter (in turquoise). However the `InDetTrackParticles_xAOD` have no measurements and so they ARE propagated all the way out. It would be good to be able to optionally

[2020-11-19 09:25] EdwardMoyse opened #178 "Tracks hide vertices when we zoom in"
When we zoom in, the tracks are rendered as cylinders of fixed size and so they obscure the vertex (in the attached picture, there is a primary vertex from which most of the tracks are coming).

I think we should add an option for how to render tracks e.g.
  - Auto : use  [THREE.LOD](https://threejs.org/docs/index.html#api/en/objects/LOD) to determine how to render, but with line for close and cyl

[2020-11-19 09:28] EdwardMoyse opened #179 "Colour tracks by the vertex to which they are associated."
Vertices know the tracks which were involved in their reconstruction. It should be possible to colour these tracks the same colour as the vertex.

(This is low priority, but just to put it out as an option).

[2020-11-19 09:29] EdwardMoyse commented on #100
Done.

[2020-11-19 09:29] #100 closed

[2020-11-25 09:48] 9inpachi commented on #101
Done with #180

@EdwardMoyse if you have any suggestions or something related to this issue, you can reopen it.

[2020-11-25 09:48] #101 closed

[2020-11-26 11:21] 9inpachi opened #181 "Loading support in event display"
This has been a long time coming. We need a manager to support loading of resources through the event display and an ability to run some function(s) when all the elements have loaded.

[2020-12-01 07:52] #181 closed

[2020-12-01 16:48] vvolkl opened #184 "How to import ROOT files?"
The user manual https://github.com/HSF/phoenix/blob/master/guides/users.md#geometry mentions root files with tgeo are supported, however the import dialog only has buttons for .obj and gltf.
Thanks!

[2020-12-01 17:00] 9inpachi commented on #184
Hi @vvolkl

The "Phoenix event display" framework supports loading ROOT geometries. So you have to load the geometry through code. For example.

See [docs for `loadRootGeometry`](https://hepsoftwarefoundation.org/phoenix/api-docs/classes/EventDisplay.html#loadRootGeometry).

[code]

We do it like [THIS](https://github.com/HSF/phoenix/blob/master/packages/phoenix-ng/projects/phoenix-app/src/app/sec

[2020-12-02 15:28] EdwardMoyse opened #185 "Generalise the colouring of object"
This is a generalisation of #179

In VP1 we can do things like colour :
- tracks by associated vertex, charge, pT etc
- hits by the associated tracks, charge etc
- clusters by energy
- jets by vertex

It would be good to think of a general, extensible way to do this within Phoenix.

[2020-12-04 11:29] EdwardMoyse opened #187 "Loading from state is not working correctly"
I tried to add a default configuration for ATLAS, but it isn't working correctly:
https://github.com/EdwardMoyse/phoenix/blob/add-atlas-default-config/packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts#L74

specifically, some jet collections should be disabled, and the pixel and SCT hits should be different colours to red.

When you choose 'Load State' from the menu

[2020-12-04 11:31] EdwardMoyse commented on #184
Hi @vvolkl - please let us know if this doesn't work or if you are still having problems?

We probably should add all supported geometries to the dialog it's true.

[2020-12-04 11:47] 9inpachi commented on #187
Yup, expected.

You have to make `ngOnInit` async and await for the geometry loading functions. See [FASER code](https://github.com/joshmcfayden/phoenix/blob/mcfayden_faser_v1/packages/phoenix-ng/projects/phoenix-app/src/app/sections/faser/faser.component.ts#L19-L67).

[2020-12-04 11:48] 9inpachi commented on #184
Yes - same opinion.

[2020-12-04 11:57] EdwardMoyse commented on #187
Ah ha! Thanks! However there is still a problem - the menu items state are not updated - for example, two Jet collections should be disabled here:
<img width="704" alt="image" src="https://user-images.githubusercontent.com/6764617/101160992-33c7e300-3630-11eb-81d7-176c84c8dfa6.png">

[2020-12-04 11:57] vvolkl commented on #184
@9inpachi  @EdwardMoyse Thanks for the quick reply! The code you provided looks good, but I haven't yet had time to install all the npm things on my system, will try this afternoon.

Indeed it would be nice to be able to quickly try out different detectors without having to fire up a server instance locally. JSROOT allows you to pass options via the url, that could also be a simple way to allow th

[2020-12-04 12:13] 9inpachi commented on #187
Does this new bug work fine with loading state from the menu?

[2020-12-04 12:14] 9inpachi commented on #187
I forgot to put it earlier, but we could also load state from code after all the loading is done ([see here](https://github.com/HSF/phoenix/blob/master/packages/phoenix-ng/projects/phoenix-app/src/app/sections/atlas/atlas.component.ts#L75)).

[2020-12-04 12:16] 9inpachi commented on #184
We have options to load the event from URL yet but not the geometry. The project is still in progress so may be it will be supported in next versions (we don't have a definitive roadmap yet).

[2020-12-04 12:17] EdwardMoyse commented on #187
No. Same issue when loading state from the menu. I like the idea of doing it once loading is done though!

[2020-12-04 13:59] 9inpachi commented on #187
Ok, then I will have to look into the export and import state functions. I will give news tonight maybe.

[2020-12-04 15:09] vvolkl opened #189 "Updating JSROOT used for Phoenix"
Hi again,

I'm affected by https://github.com/root-project/jsroot/issues/204 and need the `dev` version of jsroot to display my geometry. How can I (locally) use a newer version of jsroot inside phoenix?

[2020-12-04 15:18] vvolkl commented on #189
I see that jsroot isn't  handled as an external dependency. So I'll just apply my patch to `packages/phoenix-ng/projects/phoenix-app/src/assets/jsroot`.

[2020-12-04 18:50] 9inpachi commented on #187
Indeed. The loading manager is pretty cool I think.

[2020-12-04 18:54] 9inpachi commented on #187
So @EdwardMoyse,

The file you exported is wrong.

For the file https://github.com/EdwardMoyse/phoenix/blob/add-atlas-default-config/packages/phoenix-ng/projects/phoenix-app/src/assets/files/config/atlas-config.json
If you search for `Anti` to see the configuration for the Jet collections, you will see that the `toggleState` is `true` for all so it's expected that they will show.

I tried exportin

[2020-12-04 20:17] 9inpachi commented on #187
From #188

![image](https://user-images.githubusercontent.com/36920441/101210624-9e603980-3697-11eb-9d7e-af64cceacf4a.png)

[2020-12-05 07:19] EdwardMoyse opened #190 "Add staging area"
It should be possible (I think!) to make PRs publish to a staging area where we can test the changes interactively.

Obviously not top priority, but it would be convenient!

[2020-12-05 07:23] EdwardMoyse commented on #187
Whoops - you were right ... however in my local tests I *was* using a file with the correct configuration (not for the final check of loading from the menu, obviously!).

For reasons I don't quite understand, using the loading Manager fixes it! So I think this can be closed now.

[2020-12-05 07:23] #187 closed

[2020-12-05 08:38] 9inpachi commented on #190
+1

That'd be interesting. I never implemented something like this so I will have to see the right approach. Having it on the repo itself could prove problematic I think.

[2020-12-05 09:05] EdwardMoyse commented on #190
We have something similar set up here:

https://gitlab.cern.ch/atlas-sw-git/atlassoftwaredocs

(I hope you can open it) Every PR creates a directory in __staging with a
new version of the webpage. I presume we should be able to do this too in
GitHub.

On Sat, 5 Dec 2020 at 09:38, Fawad Ali <notifications@github.com> wrote:

[2020-12-05 09:34] 9inpachi commented on #190
Can't access it. I will try looking for other resources and see what I can
find. Doing it through GitHub is easily manageable but I hope it doesn't
overcomplicate things on the build side.

On Sat, Dec 5, 2020, 2:05 PM EdwardMoyse <notifications@github.com> wrote:

[2020-12-05 21:08] #133 closed

[2020-12-07 16:54] 9inpachi commented on #184
I just realized that we need to specify the object for the ROOT geometry so the process is not as straightforward as just importing the file.

[2020-12-07 21:19] 9inpachi opened #192 "Upgrade ng5-slider"
The slider has a new `2.0.0` version and is rebranded to `ngx-slider`. Should be updated to fix all the warnings we have.

[2020-12-08 23:54] #192 closed

[2020-12-09 19:46] 9inpachi commented on #178
The implementation I just did for this hides the tube geometry when the camera is at a radius less than 200.

See: https://github.com/9inpachi/phoenix/commit/7d606b29214e9f080266ad13502fa1092605a00f

Is this approach okay by you?

[2020-12-11 19:03] #178 closed

[2020-12-12 10:29] 9inpachi commented on #190
So I looked into the following options.

* Surge
  * https://surge.sh/ - Good for one time publishing but requires custom set up for PRs and such. (https://medium.com/onfido-tech/travis-surge-github-auto-deploy-every-pr-branch-and-tag-a6c8c790831f)
* Tugboat
  * https://tugboat.qa/ - Specifically for publishing websites with PRs. Takes care of the URL naming and everything. 2 GB free space. Requir

[2020-12-12 10:31] 9inpachi commented on #190
A third option would be to keep everything on GitHub. Move the current deployment set up to the `gh-pages` branch. Then have a sub folder in the branch like `gh-pages/pr-119` and have it manually updated through travis. Will take some effort.

[2020-12-12 11:58] 9inpachi commented on #190
Here are some notes for doing it on GitHub.

[code]

[2020-12-12 23:32] 9inpachi commented on #172
Okay, I just understood this. Previously I thought you meant to attach these labels to individual event data objects so it seemed hard.

Adding labels with a JSON file should be simple. One thing could be to add labels and generate the JSON file from within Phoenix (would be a little complex and not so flexible).

[2020-12-15 17:47] #184 closed

[2020-12-17 08:41] EdwardMoyse commented on #172
Sorry @9inpachi for the delayed response.

I *do*  kind of mean adding labels to individual objects. So example, imagine you have 100 tracks in a container in a file. You could load the event data, and then afterward load `labels.json` and loop through this adding `Label` attributes to the tracks.

We could start by adding a `add label` button to the container view which would add the decoration t

[2020-12-17 10:33] EdwardMoyse opened #199 "Improve the geometry information"
When we select geometry with 'object selection' currently we see e.g. `name : _040A42C8`

We should name it with the matching menu-node, and perhaps could think to add extra information such as
- coordinates
- size

[2020-12-17 16:00] 9inpachi commented on #190
Closing with #196.

[2020-12-20 09:49] 9inpachi commented on #190
A single preview build takes the entire 2 GB for some reason.
Reopening this issue so that we follow up.

[2020-12-20 09:53] 9inpachi commented on #185
Ed, can you show me a screenshot or better a GIF / video of how the UI works in VP1?
I am not sure where to include these options and how to manage them.

[2020-12-22 21:46] #199 closed

[2020-12-25 19:23] #190 closed

[2021-01-08 20:10] #170 closed

[2021-01-08 20:16] 9inpachi opened #204 "Use JSROOT from some external source"
Currently, we have the JSROOT scripts directly inside Phoenix. I don't think that's a good idea.
With the `ScriptLoader` we have, it's possible to use an external source (CDN) to fetch the scripts we need and load them. Having a copy of the library inside the project will prove challenging for its future updates.

[2021-01-17 17:01] spursbyte commented on #204
HI I WILL LIKE TO WORK ON THIS ISSUE. CAN YOU ASSIGN IT TO ME?

[2021-01-17 18:31] 9inpachi commented on #204
Hi.
I don't think we need to assign it. Just give a try and open a pull request.

[2021-01-20 12:55] ntadej opened #205 "Reduce the CPU usage when nothing is going on"
It seems Phoenix keeps doing high-FPS rendering even if nothing is going on (no animation, no user action). It might be useful to prevent this and only re-render when needed.

[2021-01-20 13:18] EdwardMoyse commented on #205
Actually this is a good point - thanks @ntadej. Let me ping @9inpachi since I know he has been modifying the animation loop recently and might have an idea of how feasible this is to do...

[2021-01-20 15:58] 9inpachi commented on #205
Indeed. I also thought of implementing this after seeing a game that only renders when controls are used.
We could have a similar render function only on either camera movement or when the animation runs.
Let's keep this issue as a reminder of implementing this.
Thanks @ntadej

[2021-01-20 18:20] 9inpachi opened #206 "Make collections info panel compact"
The idea is to make the Collections table have a different layout for mobile / smaller views.

This is the current view of the collections info panel.

![image](https://user-images.githubusercontent.com/36920441/105216671-b1aa6400-5b74-11eb-87d5-187ce1cdf04c.png)

On smaller screens (and small panel size), the data gets cut off and we have to scroll horizontally.
It would be great if we could have

[2021-01-20 18:34] ksraj123 commented on #206
Seems like a good issue to start with. Looking into this. Thanks

[2021-01-27 18:33] 9inpachi opened #208 "Switch to yarn"
Because it's fast.

[2021-02-03 19:35] #208 closed

[2021-02-10 16:10] EdwardMoyse opened #211 "UI: When enabling/disabling event data, sub-toggle state are forgotten"
What I mean is, if I have an individual track collection turned off, when I turn off and on the whole Event data container, when it comes back on ALL track collections are on. We should not override the state of sub-containers, so we can temporarily disable all event data without having to set everything up again afterwards.

[2021-02-10 16:11] EdwardMoyse opened #212 "Add the possibility to use Phoenix with AR"
It would be great if we could do this via configuration, or URL, so users could open a simple QR link and see a detector.

I'm not sure how best to do this, by renaming and extending the VRManager to support both VR and AR (and be called XRManager) or by adding a new ARManager.

[2021-02-10 19:14] 9inpachi opened #213 "Try webpack or parcel for bundling Phoenix for web"
I tried rollup but I can't seem to make it work. The config might be incorrect but the external dependencies aren't handled correctly.

We can give webpack a try.

[2021-02-11 14:00] 9inpachi commented on #213
esbuild is also an interesting option. Claiming to be the fastest (100x).

https://github.com/evanw/esbuild
https://esbuild.github.io/getting-started/#bundling-for-the-browser

[2021-02-11 16:35] 9inpachi commented on #213
Tried esbuild. Wasn't able to make it work.

Webpack worked! Now we can run Phoenix as a browser script. :D

[2021-02-12 17:43] #172 closed

[2021-02-15 17:20] #213 closed

[2021-02-15 20:08] #211 closed

[2021-02-16 07:44] karthikshetty03 commented on #206
@9inpachi Can I work on this issue ?

[2021-02-16 09:08] 9inpachi commented on #206
Yes sure. Just give it a try and create a pull request if it works.

[2021-02-17 17:05] 9inpachi opened #217 "Extend usage guide and developer docs"
Document usage of new features in the user guide.

* Adding labels
* Saving and loading state
* URL options etc.

Create developer guides for using and extending Phoenix API.

* Creating an event data loader
* Adding custom event data object type
* Working with Phoenix menu node
* Keeping track of loadable elements (`LoadingManager`)
* Three managers
* Phoenix and dat.GUI menu

[2021-02-18 16:33] EdwardMoyse opened #218 "Investigate mechanism to autoload new events from either directory or supplied via server"
We would like to be able to have Phoenix running, and autoloading new events as pushed or published to a directory.

[2021-02-18 19:01] 9inpachi commented on #218
Interesting. I think we will need to have a Node.js based backend API to read data from the directory upon request to an endpoint. We will also need some service to host this backend server. Or may be we can create an AWS lambda.

Alternatively, I think it should be possible to access files from Apache like the JSROOT list here - https://root.cern.ch/js/files/.

I will look into it once I finish p

[2021-02-20 15:53] 9inpachi commented on #217
@EdwardMoyse, could you take a look at this and add any more topics we need to document? Especially for the developers side.

[2021-02-22 17:48] bcouturi opened #220 "Investigate how to load/update the geometry from ROOT directly"
As discussed during the meeting of the 17/02/21, it would be useful to have Phoenix load the geometry from TGeo model of a running server, or at least to automate and hide the conversion steps.
This would make it easier for detector developer to quickly view the description they are developing.

[2021-02-22 22:22] EdwardMoyse commented on #217
Hi @9inpachi this looks great!

Maybe how to run VR mode? It probably won't be obvious to most that it requires running with SSL, which means you can't just do `yarn start`

[2021-02-24 16:08] 9inpachi opened #221 "Update three.js to latest version"
I tried to update three.js to r125 with #210 but because of some major breaking changes I couldn't make it work at that time. As mentioned in the [CHANGELOG](https://github.com/mrdoob/three.js/releases/tag/r125), some of the things like the `Geometry` class have been removed from core.

Currently we are on r124 and the latest is r126 which also has some major breaking changes. Since the effort is

[2021-02-24 16:15] 9inpachi commented on #220
Hi @bcouturi, do you have some kind of example for this that can help get a head start on this?

And I am also not sure about what kind of TGeo model a running server can serve and how I can have access to such a server.

[2021-02-24 16:24] EdwardMoyse commented on #221
Ouch. The motivation for the Geometry migration is here:
https://discourse.threejs.org/t/three-geometry-will-be-removed-from-core-with-r125/22401

On Wed, 24 Feb 2021 at 17:08, Fawad Ali <notifications@github.com> wrote:

[2021-02-24 16:29] 9inpachi commented on #221
The hard part is that this is NOT the only major breaking change. I noticed some other things as well mostly in the `cms-objects.ts` code I adapted from `ispy-webgl`.

[2021-02-25 19:32] karthikshetty03 commented on #206
@9inpachi
Can you please give me the link to the location of the code or give me some more information regarding this issue?
Also, can you tell me where can I find this page in the [online version](https://hepsoftwarefoundation.org/phoenix/)?

[2021-02-25 20:21] 9inpachi commented on #206
You can find it if you go to an experiment from the main page (for example,
https://hepsoftwarefoundation.org/phoenix/#/atlas) and click on the "i"
icon in the bottom UI menu to open the collections info panel.

Also please take a look at `guides/users.md` to understand how everything
works.

If this information is not enough to know the code location then let me
know. :)

On Fri, Feb 26, 2021, 12

[2021-02-26 04:43] karthikshetty03 commented on #206
Yes, I got the code location and will try implementing the functionality, Thank You!

[2021-02-26 06:10] karthikshetty03 commented on #206
According to your suggestion, the UI on small screens should be such that the columns are one below the other, right?

[2021-02-26 06:12] 9inpachi commented on #206
Indeed.

On Fri, Feb 26, 2021, 11:10 AM Karthik Shetty <notifications@github.com>
wrote:

[2021-02-26 10:30] karthikshetty03 commented on #206
![Screenshot from 2021-02-26 15-59-18](https://user-images.githubusercontent.com/45932358/109289024-9dc8e080-784b-11eb-9b7d-2db23b318b0d.png)
@9inpachi  Is this fine?

[2021-02-26 11:35] 9inpachi commented on #206
@karthikshetty03 Good progress so far! Thanks.

The next step would be to show the column name for each value at the left. Something like.

**columnName1:** The value
**columnName2:** Some other value

Also it'd be interesting if it worked with resizing the overlay on desktops as well.

[2021-02-26 12:17] karthikshetty03 commented on #206
Yeah, will do that

[2021-02-26 12:22] karthikshetty03 commented on #206
@9inpachi As in if the table requires a horizontal scroll on the desktop, then I have to display all columns one below the other as well?

[2021-02-26 12:27] 9inpachi commented on #206
Yes exactly.

On Fri, Feb 26, 2021, 5:22 PM Karthik Shetty <notifications@github.com>
wrote:

[2021-02-27 21:10] #217 closed

[2021-03-01 10:09] bcouturi commented on #220
Hi,

To generate the glTF model of LHCb, I had used a script as in: https://github.com/bencouturier/gltfexporter.
Ideally this should be made easier to ensure people working on their model can just load it using ROOT or DD4hep and view it straight away. I suppose this is more of an issue about how we integrate the jsroot scripts than with Phoenix itself.

[2021-03-05 20:07] #189 closed

[2021-03-05 20:07] #204 closed

[2021-03-08 16:54] 9inpachi opened #226 "Migrate from Travis to GitHub actions for CI"
Travis gives this error:

I think I end up running Travis about 15 times trying to solve a CI related issue and we seemed to have run out of credits.
They seem to have a new plan which limits builds: https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

Since our pipeline is simple we can switch to GitHub actions without much of an issue.

[2021-03-09 19:41] karthikshetty03 commented on #206
@9inpachi Apologies for the delay, I was busy with my college exams for a week.
I resumed working on this but am stuck on the part on how to determine whether there is a horizontal scrollbar or not.
Like if there is a scrollbar, then the layout will be changed to a small screen view (each column on a separate line)
I tried looking around the overlay-component.ts file, where the overlay window resi

[2021-03-09 19:52] 9inpachi commented on #206
Not a problem.

Could you open up a pull request so I can take a look (probably tomorrow)
at your approach so far? I can comment or direct better after that.

On Wed, Mar 10, 2021, 12:42 AM Karthik Shetty <notifications@github.com>
wrote:

[2021-03-10 03:02] karthikshetty03 commented on #206
I used media queries that changes the layout for small screens.

Yeah, will do that.

[2021-03-10 08:07] karthikshetty03 commented on #206
![Screenshot from 2021-03-10 12-35-11](https://user-images.githubusercontent.com/45932358/110591552-35f58c80-819f-11eb-9295-0cee537bf9d4.png)

@9inpachi  this works fine for mobile/smaller views.
Need to work on resizing the overlay on desktops.
I have opened a PR: #228

[2021-03-10 11:24] #226 closed

[2021-03-10 12:10] EdwardMoyse opened #229 "Add possibility to load CMS/LHCb event data"
I just noticed that for the CMS demo it's only possible to look at the pre-loaded events. Same for LHCb.

We should fix this, and also address #61 (making the UI configurable, i.e. by only showing CMS formatsin the I/O menu for the CMS demo)

[2021-03-12 06:34] EdwardMoyse opened #232 "Open compressed JiveXML"
We should add the ability to open compressed JiveXML (and probably just generally add this functionality, to support e.g. compressed json or any other text format).

I started prototyping it here:
https://github.com/EdwardMoyse/phoenix/tree/support-compressed-jivexml

It doesn't work - it fails with and error about the zip file being corrupted, so I've done something wrong.

I attached theexample

[2021-03-12 06:56] 9inpachi commented on #232
We already use this for CMS. JSZip is an easy to use library so it should
be simple.

On Fri, Mar 12, 2021, 11:35 AM EdwardMoyse ***@***.***> wrote:

[2021-03-12 07:12] EdwardMoyse commented on #232
Yes, I was trying to copy what you did with cms, but add the ability to handle compressed JiveXML to the same function, so we didn't have to have lots of extra buttons in the dialog (e.g. Compressed JiveXML, Compressed JSON)

[2021-03-16 18:51] 9inpachi opened #234 "Construct a shareable link"
This idea just popped up in my head.

So we can have some sort of simple UI - may be a popup window - where we can provide the user with a bunch of selectable or editable options like `hideWidgets`, `configUrl` etc. which will construct a shareable URL.

Here is a UI to illustrate the concept.

![url-constructor](https://user-images.githubusercontent.com/36920441/111363941-77f86400-86b2-11eb-8e6a-

[2021-03-16 18:59] EdwardMoyse commented on #234
That is a FANTASTIC idea!

[2021-03-17 10:06] 9inpachi commented on #234
One more thing:

Apart from just the link, we can have another code snippet for including Phoenix in a blog or article like this:

[code]

[2021-03-18 16:32] cohm opened #235 "Animate pileup interactions?"
Hello!

First of all, Phoenix is fantastic - thanks a lot for developing it!

I have an idea for a feature request, and if we can develop a plan for how it can be implemented, I could possibly try to find some person-power to implement it.

At the HL-LHC we'll have precision-timing detectors in ATLAS and CMS that will help to separate the particles produced in up to 200 pp collisions that happen i

[2021-03-18 16:44] EdwardMoyse commented on #235
Hi @ohm - I think this should definitely be doable! Nice idea. I think if we can get hold of a dataset we could have a think about how best to do it (and a student to work on this would be fantastic as well).

[2021-03-18 17:05] 9inpachi commented on #235
Hi @cohm - Looks like a good idea!
Unfortunately, I am not a physics guy so I can't really make out most of the jargon used.
If there is a student willing, I can help and pair with them to work this out.
We have an [`AnimationsManager`](https://github.com/HSF/phoenix/blob/master/packages/phoenix-event-display/src/three/animations-manager.ts) that handles everything animation related in the event d

[2021-03-18 17:22] cohm commented on #235
Thanks for the quick and positive replies, @EdwardMoyse and @9inpachi!

A bit of explanation then: we actually circulate bunches of 10^11 protons squeezed into roughly the volume of a human hair - A few 10s of micrometer in x and y but ~10 cm in z. When two such bunches traveling at a speed near that of light cross, we get several collisions during a period of a few hundred picoseconds, simply bec

[2021-03-19 05:12] EdwardMoyse opened #236 "Try updated Boolean library for geometry cuts"
see here:

https://github.com/manthrax/THREE-CSGMesh

[2021-03-19 06:49] cohm opened #237 "Per-track color ignored"
Hello!

It seems the color specified in the per-track dict is ignored, and all tracks are shown with the same color. See screen recording:

https://user-images.githubusercontent.com/7143813/111741834-6fa55200-8887-11eb-8752-7004bfcbe552.mov

The docs suggest the `"color"` entry in the dict should be picked up: https://github.com/HSF/phoenix/blob/master/guides/users.md#supported-object-types

Best,

[2021-03-19 07:29] 9inpachi commented on #237
Hi!

Interesting find. This might be because of the dynamic config loaded where
color for each collection is defined, overriding the default Track color.

On Fri, Mar 19, 2021, 11:50 AM Ohm ***@***.***> wrote:

[2021-03-19 11:06] 9inpachi commented on #237
Implementation notes: Use "null" instead of a fallback color in collection
color of Phoenix menu.

On Fri, Mar 19, 2021, 12:29 PM Fawad Ali ***@***.***> wrote:

[2021-03-20 13:33] 9inpachi commented on #237
Hey @cohm

Are you loading the event data from the import/export options? Can you share the event data file so I can debug a little?

[2021-03-20 14:54] 9inpachi commented on #237
@cohm -  Let me know if it works as expected at: http://phoenix-pr-238.surge.sh/

[2021-03-20 21:18] cohm commented on #237
Thanks @9inpachi - that seems to do the trick:

<img width="1284" alt="Screenshot 2021-03-20 at 22 15 22" src="https://user-images.githubusercontent.com/7143813/111885734-e9455900-89c9-11eb-88a7-d29f7db4fb95.png">

In my input JSON the tracks are color coded based on charge, -1 is blue, neutral are green, and +1 are red. Here's the file I used too, in case it's interesting:

[HGTD_events6.json.zip

[2021-03-20 21:18] #237 closed

[2021-03-20 22:01] 9inpachi commented on #237
Great! Thanks for sharing the file!

[2021-03-22 16:49] 9inpachi commented on #205
See #233 for an attempt.

[2021-03-23 13:36] #232 closed

[2021-03-24 19:09] #229 closed

[2021-03-25 04:23] Ayushsunny commented on #221
Is this issue still persist @9inpachi ?

[2021-03-25 06:56] 9inpachi commented on #221
Yes. That's why it's open.

[2021-03-25 08:23] Ayushsunny commented on #221
So, can I work on this?

[2021-03-25 08:26] EdwardMoyse commented on #221
Sure - but just a warning that this might be a bit difficult. It will definitely teach you a lot about Phoenix though... ;-)

[2021-03-25 09:44] Ayushsunny commented on #221
I'm here to learn only @EdwardMoyse sir, so if it is difficult then why it is tagged as a "good first issue" ? or if you think as a new contributor i can solve this issue, please help me to do that .

[2021-03-25 10:19] 9inpachi commented on #221
It's marked as a good first issue because there is a clear path to do it (the errors that come with updating three.js). You just have to solve those errors (of variable difficulties) compared to some issue that deals with the internal workings of Phoenix in detail.

[2021-03-25 17:29] Ayushsunny commented on #221
It would be glad to work under a nice mentor like you Fawad sir, and also I've started learning three.js for this

[2021-03-30 06:48] #234 closed

[2021-03-31 13:25] ric-bianchi opened #246 "Clipping settings does not reflect actual settings on "pre-set" event displays"
When opening the pre-set ATLAS example event display, the view is shown with clipped geometry; however, the "clipping setting" does not reflect the actual setting. See screenshot below:

<img width="1317" alt="Screen Shot 2021-03-31 at 15 21 53" src="https://user-images.githubusercontent.com/17335100/113151235-2bc22d80-9235-11eb-94f9-4e9ab9789568.png">

[2021-03-31 13:52] andrewpap22 opened #247 "Automatically add labels if they're contained in .json files"
Hello there,

(hopefully it doesn't make any problem because it was in your TODO, otherwise just delete it)
and I'll try to work on it on these 4 days coming that I'll have more free time! 😄

All the best,

Andreas Pappas

[2021-03-31 14:37] EdwardMoyse opened #248 "Add 'start' clipping angle as well as opening angle"
So if we have a 45 degree cutaway, it should be possible to rotate the starting plane so the 45 degree cutaway moves through the detector. This could be done by adding a second slider, beneath the existing (see below). It will probably to make the second slider relative to the first, because opening angles >180 degrees caused strange behaviour in my tests.
<img width="216" alt="image" src="https:/

[2021-03-31 14:41] EdwardMoyse opened #249 "When opening event data, the event selection pull-down should show the current file"
See image. Once you start selecting events its okay, so this is just when the file first opens.

![image](https://user-images.githubusercontent.com/6764617/113162737-d2abc700-923f-11eb-86e1-bc2da82156ab.png)

[2021-03-31 14:46] EdwardMoyse opened #250 "Tracks are missing phi/eta cuts"
Which is weird, because they used to be there!
<img width="439" alt="image" src="https://user-images.githubusercontent.com/6764617/113163481-82813480-9240-11eb-9600-24be7dc0707a.png">

[2021-03-31 15:48] EdwardMoyse commented on #247
Hi Andreas, thanks for doing this! An example of a file with labels is:
https://github.com/HSF/phoenix/pull/251/commits/8e6ffcb23c424d0e702a2c9eb0595be9fe33a20d

[2021-03-31 17:41] 9inpachi commented on #246
Yeah, we kind of only have a one way binding of the UI with the event display.

[2021-03-31 20:20] #250 closed

[2021-04-01 17:35] EdwardMoyse opened #253 "Add scaling for CaloClusters"
It would be great to add a scaling for CaloClusters, so we can adjust how large they are. The amount of energy deposited on average can depend on the specific run - so this is likely to need tweaking.

I would propose adding a "collection level" settings gearbox for CaloClusters. It might be good to add options like opacity and wireframe etc.

<img width="869" alt="image" src="https://user-images.

[2021-04-02 16:48] #249 closed

[2021-04-05 16:22] #221 closed

[2021-04-07 13:57] ksraj123 commented on #221
@9inpachi is this issue resolved?. If not, would like to give this a try.

[2021-04-07 14:18] 9inpachi commented on #221
@ksraj123 This is resolved. You can look at other issues if you want to contribute. ^_^

[2021-04-09 17:54] #253 closed

[2021-04-11 13:06] #246 closed

[2021-04-13 14:58] EdwardMoyse opened #261 "When loading a new event, the event display configuration should not reset to everything"
I just tried loading a new XML file, and the configuration of what is displayed seems to reset to everything on.

Phoenix should keep the existing configuration.

[2021-04-13 15:13] EdwardMoyse opened #262 "Change default save config name"
When saving state/configuration it would be better to save the run number / event number instead of `phoenix config.json` i.e. `runXXXXevtYYYY.json`

[2021-04-13 16:28] 9inpachi commented on #262
Indeed, that's a good idea.

On Tue, Apr 13, 2021, 8:13 PM EdwardMoyse ***@***.***> wrote:

[2021-04-13 18:57] 9inpachi commented on #262
I made it `runXXXX_evtXXXX.json` for better readability.

[2021-04-13 19:04] 9inpachi commented on #261
This isn't a bug though, it's expected. When we load a new event, the entire Phoenix menu configuration is reconstructed for that particular event because each event has different kind of objects and collections.

Personally, I am not sure if not resetting the configuration should be the intended behavior. The event data is deeply bound with the Phoenix menu configuration. Each event has different

[2021-04-13 19:15] EdwardMoyse commented on #262
Perfect.

On Tue, 13 Apr 2021 at 20:57, Fawad Ali ***@***.***> wrote:

[2021-04-14 09:10] EdwardMoyse commented on #185
Hi @9inpachi - sorry, I thought I'd replied ages ago (I think I replied to the email and this apparently didn't post here).

I don't know if this is clear enough, but there is some documentation here:
http://atlas-vp1.web.cern.ch/atlas-vp1/doc/doc_tracksysbasics/

The video does show how this works for tracks. We also added since then, 'colour by vertex' .. so all tracks associated to avertex woul

[2021-04-14 09:46] EdwardMoyse opened #264 "If 'Object Selection'"

[2021-04-14 11:34] EdwardMoyse opened #265 "Add axis labels"
We can enable some axes under the view menu

We should add some labels, to make it clearer:

![image](https://user-images.githubusercontent.com/6764617/114703768-04378e80-9d26-11eb-85b7-edce4001814c.png)

This is controlled by ViewOptionsComponent in
https://github.com/HSF/phoenix/blob/master/packages/phoenix-ng/projects/phoenix-ui-components/src/components/ui-menu/view-options/view-options.compon

[2021-04-14 11:39] EdwardMoyse opened #266 "Add some guidelines"
We already have 'show axis' under View controls e.g.
https://github.com/HSF/phoenix/blob/master/packages/phoenix-ng/projects/phoenix-ui-components/src/components/ui-menu/view-options/view-options.component.ts

However it would be useful to be able to show a labelled eta/phi or theta/phi grid. Ideally this would be adjustable in the GUI.

See here for the VP1 example:
http://atlas-vp1.web.cern.ch/a

[2021-04-14 12:50] EdwardMoyse opened #268 "JiveXML needs to handle extra hits more cleanly"
Tracks now try to use hit positions in jivexml loader if they are truncated. Unfortunately this doesn't always look very good:
![image](https://user-images.githubusercontent.com/6764617/114712655-9e9ccf80-9d30-11eb-9382-a4b3954efad1.png)

Should try to clean up the input, but also make this controllable by the UI. Also make extending truncated tracks with the RK controllable too.

[2021-04-14 18:27] #262 closed

[2021-04-14 18:58] 9inpachi commented on #264
Seems to work for me.

[2021-04-14 20:36] EdwardMoyse commented on #205
This is interesting:
https://discoverthreejs.com/book/first-steps/animation-loop/

(see render on demand)

[2021-04-15 06:15] #265 closed

[2021-04-15 06:16] #261 closed

[2021-04-15 15:24] EdwardMoyse opened #272 "Also cut objects in collection view"
This could either be done by putting a line through the cut objects, or by having a button to apply or unapply the cuts setup in the Phoenix menu.

But it would be very helpful to e.g. be able to see which tracks are cut from the 3D display in the collection view in the example below:

![image](https://user-images.githubusercontent.com/6764617/114894970-5e604e80-9e0f-11eb-809b-6ddc3f927c34.png)

[2021-04-15 15:41] 9inpachi commented on #264
Do you mean "Choose Collection" is not available?

If yes, then this something that comes from the Angular's cdkDrag. Since it makes use of `transform: translate3d();`, the overlaying element also covers the position of its origin in the DOM. I have been aware of this since last year and tried to look for ways to fix it but it's not something that we can fix. :(

[2021-04-15 18:00] 9inpachi commented on #205
We already have this in our `ThreeManager`. See [this function](https://github.com/HSF/phoenix/blob/01d5d86c3d6f91505b346083b070161bdcb348a3/packages/phoenix-event-display/src/three/index.ts#L168). The hard part is to actually call it in tons of places and then manage every update.

[2021-04-15 18:31] 9inpachi commented on #185
I just saw the video (after converting it to mp4). That's an interesting UI to go by. Where do you think we should place it? In a dialog opened through the UI menu or handle it entirely in the Phoenix menu? The latter gives us the option for saving/loading state.

[2021-04-16 13:47] EdwardMoyse opened #276 "Cannot load configuration"
Hi @9inpachi I hope this is just something messed up on my end, but I think I might have broken the configuration loading somehow... possibly related to my adding new options to the View menu?

If I try to save then immediately load a configuration it fails with:

[code]

I'm really sorry if I've done something dumb, but do you have any idea?

[2021-04-16 14:22] 9inpachi commented on #276
I don't see anything in the stack that might be caused by your code. Seems to be an error in three.js internally - particularly in the render function. I'll try having a look.

[2021-04-16 14:27] 9inpachi commented on #276
Immediately saving the state and loading it seems to work perfectly fine. The view options aren't a part of the state configuration so that wouldn't be the cause anyway.

[2021-04-18 08:06] EdwardMoyse opened #278 "Selecting hits shows a list of objects"
Of course the reason is clear - hits are different from other event data. But would be better to see if there is something more useful we can do (or print a message explaining that selecting hits isn't supported if we really can't handle this)

![image](https://user-images.githubusercontent.com/6764617/115138653-b5436f00-a02d-11eb-8b9b-a70a2af918e3.png)

[2021-04-18 11:38] 9inpachi commented on #185
Hi @EdwardMoyse

I am wondering if these options should be collection-wise in the Phoenix menu? From the video - it seems they were for all collections of tracks. We don't currently have a way to add specific options to individual collections.

![image](https://user-images.githubusercontent.com/36920441/115144153-85fc2480-a064-11eb-8f99-6c29303a26a1.png)

This is the UI I have so far.

[2021-04-18 12:40] EdwardMoyse commented on #185
Hi Fawad,
It would definitely be better to colour by collection - colouring all track collections the same way isn't likely to be what users will want.

However, it's definitely better than nothing, so if this is all we can do for now, then that's fine.

Colouring objects is honestly one of the things we found hardest in VP1. When we next chat I can explain some of it.

[2021-04-18 12:52] 9inpachi commented on #185
I can surely understand why. It does seem more useful to do with collections. I'll try finding a (good) way.

[2021-04-18 16:15] 9inpachi commented on #185
@EdwardMoyse

Is this the right UI for coloring by momentum? (The range slider and below that)
And also what unit do we have in our data? Is it `GeV` or `MeV` or something lower?

![image](https://user-images.githubusercontent.com/36920441/115152592-25341280-a08b-11eb-92b9-fa5924b3f5eb.png)

[2021-04-20 11:23] EdwardMoyse opened #281 "Add LHCb loader to the LHCb demo app"
Currently it looks like:
![image](https://user-images.githubusercontent.com/6764617/115387872-866afb80-a1db-11eb-8a77-d2f6e8bebf0c.png)

[2021-04-20 15:31] 9inpachi commented on #281
It seems we don't have import options for LHCb at all. The JSON here uses `PhoenixLoader`. Which again brings us to configurable import/export options. But this time, I have a lead which might be worth it (to specify the import options directly in `<app-ui-menu>` including the function and everything else.

I will give this a try once I am done with the other stuff.

[2021-04-21 10:52] #281 closed

[2021-04-22 08:07] EdwardMoyse opened #285 "Add possibility to adjust opacity of the overlay background"
It can be a bit hard to see what's going on sometimes. It would be great to be able to make the background of the overlay black, or partially opaque.

![image](https://user-images.githubusercontent.com/6764617/115678876-47ab8180-a352-11eb-9c99-2e821e53d6c2.png)

[2021-04-22 09:53] EdwardMoyse opened #286 "Overlay disappears in screenshot mode"
Ideally, this shouldn't happen.

[2021-04-23 08:18] SaMeHub opened #287 "Stop autorotate when dragging the detector/screen"
Hi,

When in auto-rotate mode it would be good to stop auto-rotating once the user drags the detector/screen, rather than continuing to rotate against the user dragging ...

Cheers
Sascha

[2021-04-25 07:06] EdwardMoyse opened #289 "Phi cut is buggy"
Really not sure what is going on here, but the cut removes clusters at different phi. Need to investigate.

![Video_21-04-25_09-05-48](https://user-images.githubusercontent.com/6764617/115984083-7b321a00-a5a5-11eb-8140-c0998784c047.gif)

[2021-04-26 15:09] EdwardMoyse commented on #289
Not a bug in the phi cuts, but a bug in cluster rendering. A fix is coming.

[2021-04-26 18:36] 9inpachi commented on #287
This is already the case. If the user is dragging, the autorotate stops.

[2021-04-26 19:35] EdwardMoyse opened #290 "Turning off and on a collection disables cuts (temporarily)"
![Video_21-04-26_21-33-51](https://user-images.githubusercontent.com/6764617/116140170-3c03e600-a6d7-11eb-90c9-df89b0cf9dae.gif)

Touching them again restores them

[2021-04-26 19:43] EdwardMoyse opened #291 "Add ability to sort by column in Collections Info mode"
It would be helpful to e.g. click on the pT column and sort by this, to find the most energetic tracks

![image](https://user-images.githubusercontent.com/6764617/116141003-686c3200-a6d8-11eb-920b-4a555258cd0b.png)

[2021-04-27 05:37] Ayushsunny commented on #291
Hello Sir @EdwardMoyse, can you guide me on this? I would like to work on this issue

[2021-04-27 05:48] EdwardMoyse commented on #291
Hi @Ayushsunny - sure! The code to draw this dialog is here:
https://github.com/HSF/phoenix/tree/master/packages/phoenix-ng/projects/phoenix-ui-components/src/components/ui-menu/collections-info/collections-info-overlay

So the idea would be that for each column, we add an arrow to allow sorting the list by that column. The default should be the number (i.e. the current behaviour).

[2021-04-27 15:41] EdwardMoyse opened #293 "CaloClusters eta range is wrong for"
Mostly leaving this for myself not to forget, but I would expect the range to be -5 to 5, but it's -100 to 100:
[code]
https://github.com/HSF/phoenix/blob/master/packages/phoenix-event-display/src/loaders/phoenix-loader.ts#L219

![image](https://user-images.githubusercontent.com/6764617/116270737-a5d7ca80-a77f-11eb-83f9-a81188657294.png)

[2021-04-27 18:29] 9inpachi commented on #276
@EdwardMoyse Is this okay now?

[2021-04-28 10:35] #289 closed

[2021-04-28 10:35] EdwardMoyse commented on #293
Closed by #292

[2021-04-28 10:35] #293 closed

[2021-04-28 10:38] EdwardMoyse opened #294 "JiveXML tracks are drawn in the wrong place"
See the attached image. The track in red has an eta of (apparently) -0.07. However it is drawn as extremely far forward. I do not see this with JSON files, so it's an issue with the JiveXML loader, or the file.

![image](https://user-images.githubusercontent.com/6764617/116390479-5bf1f180-a81e-11eb-9a99-722db9948907.png)

[2021-04-28 11:11] #286 closed

[2021-04-28 17:44] 9inpachi commented on #179
![image](https://user-images.githubusercontent.com/36920441/116449002-25929180-a873-11eb-84df-05e9fc8ba23e.png)

Do the "linkedTracks" point to tracks by index in event data?

[2021-04-28 17:57] EdwardMoyse commented on #179
Yes.

On Wed, 28 Apr 2021 at 19:44, Fawad Ali ***@***.***> wrote:

[2021-04-28 19:33] Ayushsunny commented on #291
I cannot find the exact tables there

[2021-04-28 21:06] 9inpachi commented on #291
The table is at [collections-info-overlay.component.html#L31](https://github.com/HSF/phoenix/blob/master/packages/phoenix-ng/projects/phoenix-ui-components/src/components/ui-menu/collections-info/collections-info-overlay/collections-info-overlay.component.html#L31) and the columns are generated at run time from data at [collections-info-overlay.component.html#L41](https://github.com/HSF/phoenix/bl

[2021-04-29 14:39] Ayushsunny commented on #291
Hello @EdwardMoyse , @9inpachi I am trying to add sorting on that component file by
this as a html component
[code]

and this in the typescript component

[code]

[2021-04-29 14:41] Ayushsunny commented on #291
yarn compiling perfectly without any problem but code was not implemented as what we needed.
Actually I am new to Angular.
could you guide with me with that please Sir.
as I really wanted to be a long time contributor in this organization

[2021-04-29 20:31] 9inpachi commented on #291
Hi @Ayushsunny, this code will not work since it has not been adapted to work with the `collections-info-overlay` component (aka it's copy pasted). I don't see anything in the Angular template file that makes a call to the actual TypeScript code for sorting the elements.

Please try to go through the basic Angular tutorials and understand how Angular works - [Getting started with Angular](https://

[2021-04-29 21:40] Ayushsunny commented on #291
Hello, @9inpachi I appreciate that sir for the help,
Actually, I have done that Getting started tutorial earlier as I was exploring this new lib but I couldn't found the sorting method there.
By the way, I got one Angular header sorting tutorial [here](https://material.angular.io/components/sort/overview) ---is this the thing which we're going to add there?
If no then please tell me where to find

[2021-04-29 22:21] 9inpachi commented on #291
You are not going to find the "solution" somewhere, you have to code it. The code snippet you shared above clearly shows that you haven't gone through the basics the right way because it's completely wrong and taken out of context from somewhere else. I will suggest to go through the Angular guidelines again and become familiar with Angular by building something of your own and later come back to

[2021-05-06 19:53] 9inpachi commented on #287
Please reopen if I understood something incorrectly. :)

[2021-05-06 19:53] #287 closed

[2021-05-12 19:55] 9inpachi commented on #179
Closed with #298

[2021-05-12 19:55] #179 closed

[2021-05-14 10:55] EdwardMoyse commented on #294
Fixed with #297

[2021-05-14 10:55] #294 closed

[2021-05-20 17:00] #290 closed

[2021-05-22 10:01] #285 closed

[2021-05-24 20:47] 9inpachi commented on #278
@EdwardMoyse — I was trying to fix this. The fix works but I realized that a lot of UI integration broke because of "concatenate objects" essentially because of not using collections as arrays but as parameters for objects.

Does it make sense to handle these objects differently, may be for hits we could move the entire collection (concatenate object) to the first index of the collection array so

[2021-05-26 18:23] #278 closed

[2021-06-01 17:51] 9inpachi opened #308 "Support for keyboard accessibility"
Currently, not everything that is clickable can be accessed through keyboard (by tabbing through elements). Keyboard accessibility can be added by using either the `<button>` element wherever possible or adding `role="button"`, `tabIndex`, `onKeyPress` to non-button elements.

We should have complete keyboard accessibility for UI menu and Phoenix menu.

See for example in React:
https://github.com

[2021-06-04 14:38] EdwardMoyse opened #311 "Colour by vertex isn't quite right"
This is my fault for not explaining better, but the tracks associated to a vertex should be the SAME colour as the vertex. So most tracks here should be blue, not random colours.

The second point is, because we want to be able to distinguish which vertex the tracks are associated with, the vertices should have a random colour option i.e. I should be able to choose "Colour options" for vertices an

[2021-06-05 19:14] #311 closed

[2021-06-09 12:58] EdwardMoyse opened #315 "Since release 2.0.0 in prod mode by default"
This is a problem because it stops us using a debugger.

I tried making some changes e.g.

[code]

without luck so far.

[2021-06-09 21:09] 9inpachi commented on #315
I tried to debug this to see if the problem is with our particular configuration but it seems not.

I generated a completely new project with Angular CLI 12.0.3 and got the same results. There is an issue (angular/angular-cli#21038) reported today, maybe we can follow things there? I will try to share my findings there as well and I think you should too.

[2021-06-09 21:15] smitadarmora opened #316 "Phoenix menu displays only up to a certain character length"
The Phoenix menu displays only up to a certain character length. Example image attached.
![phoenix_display](https://user-images.githubusercontent.com/85649044/121430611-eeb59e00-c93d-11eb-8386-e74896da02be.JPG)

[2021-06-09 21:17] smitadarmora opened #317 "Phoenix menu does not have a scroll bar"
For the Phoenix menu, there is no scroll bar. As a result, different menu options and event display can not be viewed simultaneously.

[2021-06-09 21:18] smitadarmora opened #318 "Jets aren't proportional to their energy."
Like Atlantis, the jets don't have a proportional size to their energy. Both Atlantis and Phoenix jets are shown in the attached images (same xml file).
In Phoenix, id:0 and id:1 are the two leading jets.
![phoenix_jet](https://user-images.githubusercontent.com/85649044/121430893-51a73500-c93e-11eb-9803-b3410fda19c3.JPG)
![Atlantis_jet](https://user-images.githubusercontent.com/85649044/121430899-

[2021-06-09 21:19] smitadarmora opened #319 "Phoenix does not display photon and electron objects"
Phoenix menu does not display photon and electron objects using .xml input.
On the Event data collection info tab, these object information may be viewed but they cannot be highlighted.

[2021-06-09 22:05] 9inpachi commented on #317
I have tried to solve this multiple times but the issue is this: https://stackoverflow.com/questions/6421966/css-overflow-x-visible-and-overflow-y-hidden-causing-scrollbar-issue

Since the configuration options appear outside (to the left of) the main body, using overflow scroll hides them because of the limitation above. We could move the configuration options to show on top of the main body and

[2021-06-10 12:24] #315 closed

[2021-06-11 06:47] 9inpachi commented on #316
This is expected as we can't have long names taking up a lot of space. Hovering over the names does show the full title. And I added a `...` at the end for names that are too long to indicate that they aren't completely shown (to be merged though).

[2021-06-12 11:02] 9inpachi commented on #276
Closing because can't reproduce.

[2021-06-12 11:02] #276 closed

[2021-06-12 17:48] #318 closed

[2021-06-12 17:48] #319 closed

[2021-06-13 20:24] #316 closed

[2021-06-13 20:24] #317 closed

[2021-06-14 18:14] 9inpachi commented on #185
The general functionality is implemented with support for some event data types. If there needs to be support for more types, open a new issue. ;)

[2021-06-14 18:14] #185 closed

[2021-06-19 10:57] 9inpachi opened #325 "Combine AR and VR managers?"
This is just an issue to keep as a reminder if we should combine AR and VR managers. Both are extremely similar but we might need to have AR-/VR-specific features. An example is the already existing controls which don't exist for AR.

[2021-06-25 07:28] #212 closed

[2021-06-25 08:14] 9inpachi commented on #325
Closed with #324

[2021-06-25 08:14] #325 closed

[2021-06-25 18:49] 9inpachi opened #328 "Use yarn workspaces"
For better and minimal dependency management.

[2021-06-27 14:29] #328 closed

[2021-07-06 07:41] cohm commented on #212
Hi @EdwardMoyse and @9inpachi,

This looks very interesting - is there a way for a (stupid) user to try this out? Would be incredibly useful for outreach etc. On the ATLAS phoenix display I see there are now buttons for VR and AR, but they're grayed out:

![Screenshot 2021-07-06 at 09 39 58](https://user-images.githubusercontent.com/7143813/124561410-267d0c00-de3e-11eb-8149-281636e7c2c3.png)

Than

[2021-07-06 07:50] 9inpachi commented on #212
Hi @cohm,

AR on the web only works on devices that support ARCore. You can check the list [here](https://developers.google.com/ar/devices) — if your device is supported you can open Phoenix in Chrome and AR should work. If you want to test this out on your desktop machine, you could use the [WebXR API Emulator](https://chrome.google.com/webstore/detail/webxr-api-emulator/mjddjgeghkdijejnciaefnkjm

[2021-07-06 08:28] cohm commented on #212
Thanks a lot for the quick reply, @9inpachi! I tried just now on an iPhone X and older iPad Pro which both appear to be supported (iOS 14.6 on both), but I still get the grayed out VR/AR icons in Chrome:

![IMG_5809](https://user-images.githubusercontent.com/7143813/124567941-b920a980-de44-11eb-94aa-41514f093cf9.PNG)

I've used plenty of AR apps on these devices, but I don't remember ever even try

[2021-07-06 08:41] cohm commented on #212
FWIW, I tried Firefox on my iPhone X too with the same results. The Chrome extension gives me something, but no ATLAS detector :)

<img width="1552" alt="Screenshot 2021-07-06 at 10 39 54" src="https://user-images.githubusercontent.com/7143813/124569989-c0e14d80-de46-11eb-921d-5653f4d52c1d.png">

[2021-07-06 08:55] EdwardMoyse commented on #212
The problem with the link @9inpachi posted is it shows the hardware capabilities, not the software. iOS is very restricted. But I can confirm it works with XRViewer from Mozilla on my iPhone, and it is VERY VERY VERY cool:

![IMG_4393239197DE-1](https://user-images.githubusercontent.com/6764617/124572030-985a5300-de48-11eb-83e2-54ec927f4f12.jpeg)

[2021-07-06 09:11] 9inpachi commented on #212
@cohm,

I don't really know much about iPhone so I can't tell the reason. On Android, in Chrome, having the latest version of Chrome does give you the AR option but also a pop-up to install some Google Play Services related to AR to make it work. It might be the same for iPhone? Not sure?

On the extension, it's hard to navigate through the environment. The detector loads somewhere around you and

[2021-07-06 09:12] cohm commented on #212
That's it - thanks a lot, Ed! Now we're talking, ATLAS hovering above the kitchen table here in Stockholm 🤓

https://user-images.githubusercontent.com/7143813/124574243-91344480-de4a-11eb-8462-3944df9efe3e.mov

This is really great! Now, is there a way to access the controls in this mode? I'd love to be able to turn detector parts on and off, and animate an event - that would be absolute *gold* fo

[2021-07-06 09:20] 9inpachi commented on #212
Unfortunately, no controls for now. It's a bit tricky to do with three.js.

[2021-07-06 09:28] 9inpachi opened #331 "Add controls in AR"
This might be the solution:

https://discourse.threejs.org/t/how-to-add-a-ui-to-immersive-xr-ar-view/16532/6

[2021-07-06 09:29] 9inpachi commented on #212
I added #331 for the controls.

[2021-07-06 09:29] cohm commented on #212
Thanks @9inpachi, no worries. Is it worth creating an issue if someone with the right experience (or is sadistic enough to go through the pain) comes along and wants to contribute to this? I really think it would be a great feature, but can certainly appreciate that it can be technically cumbersome (and regardless not be at the top of the features to  prioritize).

Best,
Christian

[2021-07-06 09:29] cohm commented on #212
Great minds ;)

[2021-07-06 09:30] cohm commented on #331
Thanks a lot!

[2021-07-06 09:33] 9inpachi commented on #212
I am that someone. :laughing:
I'll probably start working on this soon. If everything goes well, it should be there next week.

Best,
Fawad

[2021-07-06 11:51] EdwardMoyse commented on #331
Another option (probably a lot more work, but would also work in VR) is:
https://github.com/felixmariotto/three-mesh-ui

[2021-07-06 18:59] cranmer commented on #212
@EdwardMoyse what phone do you have? I have an iPhone11 Pro with 14.6 and I can't get it to work on Safari, Chrome, or the Mozilla XRViewer

[2021-07-06 22:19] cohm commented on #212
Hey @cranmer! FWIW, in Safari and Chrome didn't work on my old iPhone X (MQAF2ZD/A), but in Mozilla XRViewer it worked out of the box. XRViewer also works great on my (even older?) iPad Pro (9.7", MLMV2LL/A). I'm running iOS 14.6 on both, so I would have thought XRViewer should work for you too!

[2021-07-07 05:08] EdwardMoyse commented on #212
Hi both - the only thing I can think, is make sure you’re connecting to https. Certainly VR requires a secure connection. Maybe AR does as well?

[2021-07-07 05:17] EdwardMoyse commented on #212
I’ve now set it up so we only permit https access. Maybe try again? And if that doesn’t work, can you open an issue and record your screen so we can see what’s going on? (Google “iPhone record screen” and you should find out how).

[2021-07-07 12:32] cranmer commented on #212
Well I'm not sure what happened. I confirmed I was using https before. I didn't realize at first you could scroll in the bottom menu. I did scroll yesterday and I didn't see any VR options. Today thought I'm able to scroll farther and see many more options. I doubt anything went wrong technically and somehow I just didn't see the full set of options in the scroll bar.

The app is beautiful, but on

[2021-07-07 15:56] 9inpachi commented on #212
@cranmer I assume the AR works for you now?
Thanks for the useful recommendations though.

[2021-07-10 12:18] 9inpachi opened #334 "Load state option throwing error"
![image](https://user-images.githubusercontent.com/36920441/125162725-de921800-e1a2-11eb-87be-90c24c0e7afa.png)

[2021-07-16 07:42] #334 closed

[2021-07-17 18:15] #331 closed

[2021-07-18 10:16] EdwardMoyse opened #336 "Enabling the AntiKtLCTopoJet collection not working"
This is really odd. I cannot see the AntiKtLCTopoJet jets. However if I manually turn the jet on, then it works. See video for details.

https://user-images.githubusercontent.com/6764617/126063516-403d15a1-2dbc-4ff5-b4cf-9e64b22018a5.mov

The JiveXML used is here:
https://cernbox.cern.ch/index.php/s/wjiIzi1I6tYBGva

[2021-07-18 10:27] EdwardMoyse opened #337 "Draw jet size correctly, using coneR"
This was spotted with ATLAS FatJets, but the jets should actually use coneR to determine the jet width.

The JiveXML used is here:
https://cernbox.cern.ch/index.php/s/wjiIzi1I6tYBGva

[2021-07-19 07:54] #337 closed

[2021-07-19 08:08] EdwardMoyse commented on #336
Okay, checking the other jet collections more carefully, it seems like some of those jets are not visible either. So it must be that they're failing some cut.

[2021-07-19 08:19] EdwardMoyse opened #339 "Make it possible to disable cuts or make it so if cuts are at bounds, then they don't count"
I worked out the problem with #336. It's very simple - the jets are failing the energy cut. Now, I could increase the maximum to something huge work around this, but I think a better solution would to have a checkbox to enable/disable cuts.

Another option would be to make it so that if the cut == max, then it doesn't count - i.e. if lower cut == min, then there is no < cut, and it upper cut == ma

[2021-07-19 08:28] #336 closed

[2021-07-19 09:38] 9inpachi commented on #339
Interestingly, the "Random cuts" button works in a similar way.

[2021-07-22 13:44] EdwardMoyse opened #344 "Make it possible to scale vertices"
Currently the vertices are much bigger than the distance between them. Making them scalable would help.

[2021-07-24 13:17] #344 closed

[2021-08-04 18:39] smitadarmora opened #347 "Number of jets in a collection"
All the jets are not displayed in a jet collection.

Example: Jet collection: Antikt4TopoEMJets_AOD
No. of jets: 5
![number_of_jets](https://user-images.githubusercontent.com/85649044/128236160-e7eee756-1c0f-4308-b5d2-8c25812794c7.JPG)

No. of jets displayed: 3

[2021-08-04 18:40] smitadarmora opened #348 "Electron label issue"
Electron labels are not properly displayed.
![electron_label](https://user-images.githubusercontent.com/85649044/128236562-83d3ff46-6ee7-450b-8278-de4abcbd0898.JPG)

[2021-08-05 06:37] 9inpachi commented on #347
Hi @smitadarmora,

Can you try the "Collection > Cut Options > Reset cuts"? The Jets might be cut by default and we don't yet have a way to show that. See #272.

[2021-08-09 09:59] #348 closed

[2021-08-10 22:17] cohm opened #350 "Jets scaled by pT instead of energy?"
Hi @EdwardMoyse, all,

I recently wrote  out some json files for ATLAS events and noticed that [jets are defined](https://github.com/HSF/phoenix/blob/master/guides/users.md#supported-object-types) using eta and phi for angles (as expected) but energy for the magnitude, instead of pT that I would naively have expected. Of course I can fill whatever values I want into the dicts that go into to json,

[2021-08-13 11:06] spy-1234 commented on #248
I would like to do a contribution on this issue, as I am in initial stages of open source development. So, please tell about how to proceed in the project.

[2021-08-13 12:11] EdwardMoyse commented on #248
Hi @spy-1234 - firstly, welcome to the project!

The first step is to get Phoenix running locally, so you can do development. Have you followed the instructions here:
https://github.com/HSF/phoenix#development
?

We also have a developer guide here:
https://github.com/HSF/phoenix/tree/master/guides/developers#readme

Once you have got it all working, we can discuss where you'd need to make changes

[2021-08-17 15:27] #347 closed

[2021-08-17 15:27] #272 closed

[2021-08-31 19:06] 9inpachi opened #353 "Update dev docs according to latest changes"
Some of the developer documentation is outdated after some refactoring, particularly the managers [documented here](https://github.com/HSF/phoenix/blob/master/guides/developers/event-display.md). This needs to be synchronized with the code.

[2021-09-04 21:45] #353 closed

[2021-09-29 13:01] EdwardMoyse opened #358 "ATLAS geometry in Safari 15 is corrupted"
I'm pretty sure this is an issue with Safari, but it only seems to affect ATLAS geometry.

See screenshot:
<img width="1084" alt="Screenshot 2021-09-29 at 14 58 13" src="https://user-images.githubusercontent.com/6764617/135273202-605f1b10-9a9b-4fe9-a468-8652dbd43a95.png">

[2021-09-29 16:08] 9inpachi commented on #358
Did you try toggling performance mode? Anti-aliasing might not be working
with Safari but that should affect other experiment too.

On Wed, Sep 29, 2021, 6:01 PM Edward Moyse ***@***.***> wrote:

[2021-10-02 06:06] EdwardMoyse commented on #358
No, that doesn't help.

Performance is also TERRIBLE ... 3FPS, and I see the same performance degradation on Chrome too, though there the geometry is rendered okay. It actually make my entire laptop struggle. I tried a few other threejs demos and haven't managed to reproduce the performance degradation there yet, so it's not general.

I can't even open LHCb. :-(

On my iPhone, there are no issues.

[2021-10-02 06:13] EdwardMoyse commented on #358
In this viewer in Chrome, I see the toroids fine, but performance is terrible:

<img width="1396" alt="image" src="https://user-images.githubusercontent.com/6764617/135705778-4b241627-acb2-4804-bc2a-7a3cfbb72578.png">

In Safari, same file and same webpage:
<img width="1182" alt="image" src="https://user-images.githubusercontent.com/6764617/135705808-edc4a078-2452-4840-aad8-2abbaa3ce7b9.png">

So

[2021-10-14 18:44] 9inpachi opened #360 "Reset labels on event load"
Currently the labels remain there even after we load another event. This is unexpected and labels should be removed after loading a new event.

[2021-10-14 18:52] 9inpachi opened #361 "Embedded Phoenix does not load with cookies disabled"
It seems the embedded/iframe version of Phoenix does not load when cookies are disabled (or we are in incognito mode). There are several errors in console that show up after a while. This needs to be handled.

[2021-10-21 09:05] EdwardMoyse opened #364 "It seems like the MDT tubes are not the correct length"
They don't fill the chambers, see attached. This might be a bug in the JiveXML file, but we should check.

![image](https://user-images.githubusercontent.com/6764617/138246598-118ea4e1-2a86-44c8-88de-e15ada2eaa6e.png)

[2021-10-21 21:34] #361 closed

[2021-10-27 09:27] EdwardMoyse opened #367 "Config loading via URL not working correctly"
I noticed this when testing the ATLAS beamsplash events.

If you go to https://phoenixatlas.web.cern.ch/PhoenixATLAS/, open the event browser and select `Config` -> `test/run336567_evt2327102923.json` you should see the following:

![image](https://user-images.githubusercontent.com/6764617/139038636-a9e9ba47-af73-4d30-ad04-0302d88fd2b1.png)

I disabled jets, enabled lots of hits and gave the diffe

[2021-11-04 09:06] #364 closed

[2021-11-05 19:01] #367 closed

[2021-11-07 17:14] Yash621 commented on #248
Hello Sir @EdwardMoyse, can you guide me on this? I would like to work on this issue

[2021-11-07 17:18] Yash621 commented on #291
Hello Sir @EdwardMoyse, can you guide me on this? I would like to work on this issue

[2021-11-19 16:47] 9inpachi opened #375 "Adapt the API docs generation script"
Since compodoc is updated now, the way the title of API docs is handled is different. Instead of showing the title at the top left of the API docs page, there is a compodoc logo. We should update the Node.js script [gen-api-docs.js](https://github.com/HSF/phoenix/blob/master/packages/phoenix-event-display/scripts/gen-api-docs.js) to remove the code that did the replacement of the text at the top l

[2021-11-23 15:59] EdwardMoyse opened #376 "Add the ability to generate a QR code to the ""

[2021-11-23 16:00] EdwardMoyse commented on #376
This could be really nice for easily sharing URLs, especially given we support AR etc on phones.

https://www.npmjs.com/package/qrcode

[2021-11-23 16:56] 9inpachi commented on #376
This sounds very interesting. Hopefully I can do it the next time I have
some free time.

On Tue, Nov 23, 2021, 9:01 PM Edward Moyse ***@***.***> wrote:

[2021-11-24 12:14] gauravsharma21 commented on #291
Hi, I am new to open source contribution and worked upon this issue. Please review my pull request https://github.com/HSF/phoenix/pull/377
Any suggestions on improvement upon my PR would be great.

[2021-11-25 07:29] subho951m commented on #375
Sir I think this issue has already been resolved.
Are you talking about the documentation?
![Screenshot (1247)](https://user-images.githubusercontent.com/88569334/143397999-2b0b4687-b4c7-4851-8253-996146622fa9.png)
.

[2021-11-25 07:39] subho951m commented on #248
Sir, I could not set up environment for Phoenix. I installed node.js , then typed
`npm install --global yarn`
in node.js prompt, then I installed yarn but could not run it.
@EdwardMoyse sir, can you please help!

[2021-11-25 10:05] EdwardMoyse commented on #248
Hi @subho951m - what error did you see?

[2021-11-25 10:32] 9inpachi commented on #375
Hey @subho951m,

Good point. So I checked it again and this only happens in the dark theme. If you change your browser's theme to dark and compodoc picks up the settings, it uses the invert compodoc logo which is a different image from what we replace using the [gen-api-docs.js](https://github.com/HSF/phoenix/blob/master/packages/phoenix-event-display/scripts/gen-api-docs.js) script.

[2021-11-25 11:23] EdwardMoyse opened #378 "Add a checkbox to "Collections Info" to not show hidden objects"
Currently we highlight visible objects. It would be helpful to add a checkbox "Hide invisible objects" so we can easily find the objects we're interested in in the list.
![image](https://user-images.githubusercontent.com/6764617/143432660-3846b0bd-95c0-46b6-9bcc-6700b89f6270.png)

[2021-11-25 11:38] EdwardMoyse opened #379 "Scaling Jets to zero makes them vanish and then they cannot be recovered"
As above - I assume this is because once they have zero length, this cannot be recovered. If this is true, perhaps we can set a minimum length so we can always rescale them?

This is one of the reasons I want to try to think about a new way of drawing objects - i.e. when we change cuts / draw options we can completely redraw the collection. I'll open a separate ticket about this.

[2021-11-25 12:16] subho951m commented on #248
Sir an error was thrown multiple times that check network connection trying again...
I restarted my PC then also same thing happened.
But luckily, suddenly it worked after few hours.

[2021-11-25 12:19] subho951m commented on #375
@9inpachi Ok sir I will try to solve this problem. Is this issue still opened or have you solved it?

[2021-11-25 12:25] subho951m commented on #248
@EdwardMoyse sir I want to know that whatever command we type in the git bash window of "Phoenix folder" or node js command prompt window, are they both same?
I mean both works right!

[2021-11-25 14:10] 9inpachi commented on #375
@subho951m It's still open.

[2021-11-25 14:24] 9inpachi commented on #379
Would be interesting to know what other reasons you have in mind. For just changing cuts and other draw options, redrawing the entire collection wouldn't be optimal. Since we are just changing how they look and not what they actually are.

[2021-11-25 14:32] subho951m commented on #375
@9inpachi  sir in my android phone if I choose dark mode + desktop site, I can see that this problem is arising.
But on other hand in my pc (windows 10) chrome if I choose "auto dark mode for web content" , the problem is not arising. I am not sure what setting is different in my android mobile and this PC. Can you please help
![android chrome](https://user-images.githubusercontent.com/88569334/14

[2021-11-25 15:20] 9inpachi commented on #375
The experimental settings you enabled are different than dark mode. The latest chrome I think is able to pick up the theme based on your Windows preferences. So if you have dark theme enabled on Windows, Chrome should also have it enabled. Otherwise you can try installing this theme https://chrome.google.com/webstore/detail/dark-theme-for-google-chr/annfbnbieaamhaimclajlajpijgkdblo?hl=en.

Apart f

[2021-11-27 06:51] gauravsharma21 commented on #378
Hi @EdwardMoyse, Can I work on this issue?

[2021-11-27 07:12] EdwardMoyse commented on #378
Sure! Thanks for looking into it.

[2021-11-27 19:48] 9inpachi commented on #291
Closed with #377

[2021-11-27 19:48] #291 closed

[2021-11-29 16:45] #379 closed

[2021-12-04 22:58] #376 closed

[2021-12-10 16:49] 9inpachi commented on #378
Closed with #380.

[2021-12-10 16:49] #378 closed

[2021-12-11 18:21] 9inpachi opened #386 "Fix flaky tests in CI"
We need to fix the flaky tests we have in our CI. They are most probably because of using `fetch` to load large files. We should mock the data that's to be fetched which might fix the problem.

[2021-12-27 20:24] 9inpachi opened #389 "Push to docker with release"

[2022-01-04 10:59] #389 closed

[2022-01-07 13:35] 9inpachi commented on #386
The tests work fine on Windows but don't on Linux/Ubuntu.

[2022-01-13 09:39] EdwardMoyse opened #392 "Cuts are missing!"
I just tried to cut some tracks and jets, and the sliders are gone! Perhaps a side-effect of Angular13 @9inpachi ?
![Animation](https://user-images.githubusercontent.com/6764617/149305013-a9d12d01-1c3f-4c9e-bd57-1b9a18a0fd9f.gif)

[2022-01-13 10:33] 9inpachi commented on #392
Didn't notice this. I will check.

[2022-01-13 10:47] 9inpachi commented on #392
Seems that the library we are using angular-slider/ngx-slider#296 is not updated to support Angular 13. There's a fork with updates that we may be able to use: https://github.com/rp3e11/ngx-slider

[2022-01-14 05:40] #392 closed

[2022-01-14 22:05] #386 closed

[2022-01-19 10:07] EdwardMoyse opened #397 "Improve Event/Config selector with proper file browser"
This won't scale well as we add more data if we auto-expand the sub-directories:

![image](https://user-images.githubusercontent.com/6764617/150109076-3b6a8339-634a-46ed-a87c-4025ab62ff03.png)

[2022-01-19 11:15] 9inpachi commented on #397
This should be in the PhoenixATLAS repo maybe? The component belongs there. We could move it here as well if need be.

I did have a try at this some months back but stopped working on it at some point. It would be some effort to create a generic file explorer like this that handles all edge cases.

[2022-01-19 12:04] EdwardMoyse commented on #397
I think having a generic file browser is probably useful, but certainly the need is more pressing for ATLAS

[2022-02-19 04:10] DraTeots opened #406 "Time information and realistic animations"
Dear developers,
As I saw the examples, event data of them don't have actual time information. So two questions:

1. Is it correct that currently phoenix doesn't works anyhow with the right times and the animation is just a visual effect.
2. Are there plans to work with timing information and provide realistic animations?

The background of the question, at HallD in Jefferson Lab was this event vi

[2022-02-19 07:51] EdwardMoyse commented on #406
Hi Dmitri,

This has been raised before and it's certainly something we'd be interested in supporting. Adding the time information to the Event Data Model (EDM) would be the first step, and should be pretty trivial. What is your event format? Do you have any examples we could look at?

Secondly we need to work out how to animate this - this is probably quite a bit more work, but still doable.

Wha

[2022-02-19 09:04] 9inpachi commented on #266
@EdwardMoyse Can this be closed?

[2022-02-19 09:18] 9inpachi commented on #406
Hi Dmitry,

If you would like to dig into the code a bit, you can take a look at the [AnimationsManager](https://github.com/HSF/phoenix/blob/master/packages/phoenix-event-display/src/managers/three-manager/animations-manager.ts) which handles all the animation stuff.

Now based on the event viewer you shared, we also have ways to animate the camera through the scene. It's possible to pretty much d

[2022-02-19 09:38] 9inpachi opened #407 "Create an interface for UI menus"
A good way to have support for multiple menus (dat.GUI, Phoenix, VR) is to have a common interface which each of these menus implement. This interface will declare what options a UI menu is supposed to have.

[2022-03-13 10:49] andrewpap22 opened #411 "Python checker script for the JSON event data files"
Hello all,

So as mentioned in our last meeting, I'll leave here the urls and information needed to somehow integrate the python checker inside Phoenix, either in this repository somehow, or in the Phoenix helpers repo and link it here throughout documentation.

So, in the following 👉🏻 [link](https://gitlab.cern.ch/lhcb/Moore/-/merge_requests/1237/diffs#a0d380121093acdeadb9d9ab568044e9a24adb13_0_1

[2022-03-14 07:48] sponce commented on #411
This issue should be assigned to me as I'm working on it. But for some reason (rights ?) I do not have a the assign button to do it myself.

[2022-03-14 07:55] sponce commented on #411
One wonder I have is whether this is LHCb specific or should be provided as a generic type of detector in Phoenix. The current implementation is indeed LHCb specific in the sense that it uses dxdy and expects the fibers to belong to a plane of fixed z. But in general, should we not support a generic fiber detector in Phoenix ? I suppose the generic way would be to have both ends of each fiber stor

[2022-03-22 10:58] MASTERAMARJEET commented on #375
Is this issue open? Can I give it a try?

[2022-03-24 17:34] MASTERAMARJEET commented on #375
Hello,
Thanks @9inpachi. I have created to PR with a possible fix. Kindly have a look.

[2022-03-24 21:20] #375 closed

[2022-03-31 17:20] #248 closed

[2022-04-01 09:03] #407 closed

[2022-04-13 13:12] EdwardMoyse opened #418 "AR not working!"
![31250184-870F-47C1-A559-B1B166A54E22](https://user-images.githubusercontent.com/6764617/163187425-24ba8541-cabb-4f4c-bee3-d411aa286ee2.png)

Tested on iPhone with Safari and Firefox.
Samsung with native browser and chrome

[2022-04-14 08:12] EdwardMoyse commented on #418
Okay, I thought that WebKit finally had support for WebXR, but apparently it's still "In Development"
https://webkit.org/status/#specification-webxr

Still, I would have expected it to work on Android with Chrome.

[2022-04-14 11:35] 9inpachi commented on #418
It only worked on a special browser in iOS if I remember? https://github.com/HSF/phoenix/issues/212#issuecomment-874584680

[2022-04-14 16:42] EdwardMoyse commented on #418
Yes, sorry I wasn't explicit enough but this is what I meant in my comment above. But as I said, I would have expected it to work on Android. Maybe something has to be enabled on the phone? But if so, we should have a pop up explaining this because most people will just assume AR doesn't work yet.

[2022-04-18 09:27] 9inpachi commented on #418
Seems to work fine in Chrome on my Android. Xiaomi Poco F3.

Does the Samsung you tested on support AR?

[2022-04-20 18:42] 9inpachi commented on #397
Solved with #402.

[2022-04-20 18:42] #397 closed

[2022-04-22 16:04] sponce opened #421 "opacity not always working"
It looks like opacity is not working anymore for me when looking at the LHCb detector.
It works for TrackML for example, so it has to be related to the geometry itself.

Could one of you confirm/infirm this behavior ?
Just to the main site (http://phoenix-dev.surge.sh/#/lhcb) and try changing opacity on the Detector top level item.

[2022-04-22 19:17] 9inpachi opened #422 "Adapt to the latest version of JSROOT"
JSROOT has been updated to v7 and uses ES6 modules. This should make it comparatively easier for us to use it in our code base.

See release notes: <https://github.com/root-project/jsroot/releases/tag/7.0.0>

[2022-04-23 09:59] 9inpachi opened #424 "Commit conventions and releases"
I think we need to rethink our commit conventions. Our release notes have duplicated commits in them. See https://github.com/HSF/phoenix/releases/tag/v2.7.0

One recommendation I have is to not use the conventions for ordinary commits but only for when we merge a pull request to master. We already have a workflow where each feature is merged through a pull request, so it should work.

CC: @EdwardM

[2022-04-25 09:27] sponce commented on #421
@EdwardMoyse @9inpachi I fear I'll need help on this one. It seems I really need to change a number of things here. Let's me try to summarize and you tell me whether I'm on the right track :
  - all the code in the scene-manager relies on using names and passing them to getObjectByName if three
  - this is inherently creating the reported issue as the hierarchy is not taken into account
  - getObj

[2022-04-25 18:05] 9inpachi commented on #421
I think I partly get what you mean. I am giving it a try. Hopefully, it isn't that complex.

[2022-04-25 19:03] 9inpachi commented on #421
So it's not about being unable to get the object. We have the object but the opacity isn't being applied to the material of objects. I am not sure why.

[2022-04-25 19:50] sponce commented on #421
Could it be related to some warnings that I get when exporting to gltf ?
[code]
The corresponding code is :
[code]

[2022-04-25 19:59] sponce commented on #421
Thanks a lot ! Note that I realize we are discussing a different issue than the one of this issue here. This one concerns name clashes. Maybe we just change the title and put 2 in one

[2022-04-25 20:01] 9inpachi commented on #421
Ah okay, I didn't realize that. :D

Yeah, feel free to change the title or create a new one. Fine by me either way.

[2022-04-29 08:41] sponce opened #426 "Menu issues if subitems have identical names"
I've just found out that 2 items with same name in 2 branches of the Detector menu does not work properly.
Basically they both act on the second item.

In order to reproduce, just create 2 items in different branches but with same name :

[code]

[2022-04-29 08:44] sponce commented on #421
ok, I've updated this MR to dedicate it to the opacity issue and create #426 for the menu issues

[2022-04-29 15:15] sponce opened #427 "Clipping planes are not modifiable"
After wondering why the LHCb Muon would not allow to be clipped while the rest of the detector was fine with it, I found this piece of code :
[code]
at https://github.com/HSF/phoenix/blob/master/packages/phoenix-event-display/src/managers/three-manager/index.ts#L93

And we do not seem to have a way to change these hardcoded values. In particular the -15000 is not enough in my case !

[2022-04-29 16:02] DamianArado commented on #427
Can you try using [.set](https://threejs.org/docs/#api/en/math/Plane.set) for clipping planes?

[2022-04-29 19:58] sponce commented on #427
Sorry, I'm not an expert in javascript, so I may be saying something stupid here, but does the declaration
[code]
not mean that I can not call set (or any other method) on clipPlanes ?

[2022-04-29 20:11] 9inpachi commented on #427
We don't expose the clipping planes to the consumer. There are multiple ways of doing this. Let me know if you have any preference.

1. Get the clipping planes array and modify the planes manually (`ThreeManager.getClippingPlanes()`)
2. Specify the clipping planes in the configuration we pass to the event display (`EventDisplay.init(configuration)`)
    Here you can have any number of clipping pla

[2022-04-29 20:12] DamianArado commented on #427
Indeed. We can add a method in [three-manager](https://github.com/HSF/phoenix/blob/master/packages/phoenix-event-display/src/managers/three-manager/index.ts) to modify the clipping planes using `.set` if that can satisfy your use-case.

[2022-04-29 20:17] 9inpachi commented on #427
Just a setter may not work. The planes are linked to the detector 3D objects by reference. Changing the value is going to apply them for geometries we may add later on but not the ones that are already added. We will have to modify the existing clipping planes in the array to have any effect.

[2022-04-29 20:43] sponce commented on #427
I think I would vote for option 2 (setting planes in the config) but I do not have a strong opinion

[2022-05-01 20:39] #427 closed

[2022-05-03 06:34] EdwardMoyse opened #430 "Objects inside transparent outer object disappear"
If I turn off clipping, you can see that the Pixels disappear.

![Animation](https://user-images.githubusercontent.com/6764617/166412963-ecfabbe1-b8e2-4e99-94f1-2a4a031ff70b.gif)

[2022-05-04 13:12] EdwardMoyse commented on #426
Yeah, I saw this too and (to my shame) did a horrible hack:
[code]

@9inpachi maybe we can chat about this?

[2022-05-04 22:23] 9inpachi commented on #426
Sure.

[2022-05-04 22:33] 9inpachi commented on #430
Which "Pixels" do you mean? The event data or the detector geometry?

[2022-05-06 10:11] EdwardMoyse commented on #430
I mean the detector geometry - the purple donut (with a bite taken out of it) in the middle of the screen. It's only visible when clipping is on.

[2022-05-06 10:11] EdwardMoyse commented on #430
I mean the detector geometry - the purple donut (with a bite taken out of it) in the middle of the screen. It's only visible when clipping is on.

[2022-05-09 19:59] 9inpachi opened #432 "Update guides according to the latest code"
Some parts of the guides have become outdated after changes in source code.

In particular, the documentation for managers in [Phoenix event display docs](https://github.com/HSF/phoenix/blob/de706d9513709d05592c57d5399aa8663c48d029/guides/developers/event-display.md) need to be updated.

[2022-05-11 19:52] #432 closed

[2022-05-17 20:35] 9inpachi commented on #424
With our latest release, I found that merge commits are not included in the CHANGELOG. This is problematic. Maybe we should configure our changelog to use PRs for release notes instead.

[2022-05-19 09:19] sponce opened #440 "Weird observations concerning loading times"
- "moved" from phoenix-helpers repo where it was put by mistake -

I'm oberving the following delays when I'm loading LHCb data running a server and the client on my local (old and crappy) box :

    total loading time (events + geometry) : 40s
    event appears after 3s
    if I do not display any event, loading time of the geometry is 12s
    I find it quite inconsistent. 3+12 != 40, with a good

[2022-05-19 09:22] sponce opened #441 "Be able to load zipped version of event/geometry files in a generic way"
- 'moved' and adapted from phoenix-helpers repo where it was created initially by mistake -
-
The gain in size is typically around a factor 10, so for a web based application, it would make sense to be able to use zipped versions of our data files, both for events and geometry. Now I had a look at the code, and the thressjs GLTFLoader does not seem to support it natively, so we would have to write

[2022-05-20 14:44] sponce opened #447 "Having a button to rotate on events"
It would be nice that one can activate a mode where events are automatically rotated every x seconds.

[2022-05-20 14:47] sponce opened #448 "being able to read events from a URL"
Another idea to make nice live event display would be to be able to give a URL for the event file, which in case you are rotating the events would be reloaded when you go back to the start of the list. That was the data taking team could simple make latest events available on a URL and phoenix would turn into a live display of the last events

[2022-05-21 17:34] 9inpachi commented on #426
From what I tried today, what you said is completely correct. We need to make changes to all those functions you mentioned.

It involves changing a lot of code and tests. What I am personally uncomfortable with is introducing new parameters to all our functions. This isn't a scalable solution and makes the code a mess.

One solution I have in mind is to change the name to include a number if the n

[2022-05-21 19:39] EdwardMoyse commented on #426
I think the problem is worse though - look at the issue where you have a
Menu item called "Tracks" and a collection called "Tracks". We can't
control what clients of Phoenix will do and so relying on names as we do
right now is inherently fragile. Within ATLAS it's forbidden to have two
collections of the same name, but this isn't guaranteed for other
experiments. And it would be pretty reasonable

[2022-05-22 00:17] 9inpachi commented on #426
I see. I didn't take events into account. Alright, that for me at least confirms that we shouldn't be using a workaround to solve this.

[2022-05-23 13:37] EdwardMoyse commented on #448
This does seem like nice functionality. Perhaps we can discuss it this week?

[2022-05-23 13:41] EdwardMoyse commented on #447
I thought I'd already replied to this! Does the autorotate button not do what you want?
https://github.com/HSF/phoenix/blob/master/guides/users.md#the-phoenix-iconbar

[2022-05-23 14:13] sponce commented on #447
Sorry I was not clear here. I meant that we "rotate" on a list of events. That is you show a given event for say 10s and switch to the next event for the next 10s and so on. Completely independently of a geometrical rotation around the origin !

[2022-05-25 13:31] sponce opened #450 "Allowing to have collections of event files as event data"
Currently the event data are read from a single event file which is fully loaded at start time. This means that all events are present in memory, potentially taking quite some space.

One could think of being able to have several event files as input, and only load one in memory at a time so that we can drop previous events when a new file is loaded.

It could even be expanded to collections of fi

[2022-05-25 13:34] sponce commented on #440
Looks like related to the fact that I'm a bit tight in memory. It's not reproducable on machines with more memory. Let's close it then

[2022-05-25 13:34] #440 closed

[2022-05-25 13:37] sponce opened #451 "making nice images with Phoenix"
One thing people from the outreach like to get is nice pictures which can be used then by media in general and newspapers in particular. These picture need decent resolution (4K or more typically). Now phoenix is only able to produce screenshots, so requires you have a very big screen if you want a nice picture.

Is there anyway to get a "screenshot" of a virtual screen of a size different from th

[2022-05-25 15:57] sponce opened #452 "Bug in loading of events when PlanarCaloCell is involved"
Trying to implement the cycling through events, I've found out that the loading of events is buggy in phoenix. Not really visible by the end user, but the console is complaining with this kind of error :
[code]

The problem lies on this line : https://github.com/HSF/phoenix/blob/master/packages/phoenix-event-display/src/loaders/phoenix-loader.ts#L282 where the object holding the PlanarCaloCell is

[2022-05-25 20:25] #452 closed

[2022-05-27 22:22] #447 closed

[2022-06-02 18:05] 9inpachi commented on #424
An option for PR-based changelog: https://github.com/lerna/lerna-changelog

[2022-06-09 16:38] DamianArado opened #457 "Rewrite unit tests of phoenix using Jest"
As agreed upon with @9inpachi and @EdwardMoyse, this change would ensure quicker execution of tests for the `phoenix-event-display` library.

Current execution time of tests (checked locally): https://pastebin.com/CWTEnRy5

[2022-06-12 06:03] #426 closed

[2022-06-18 19:00] gauravsharma21 commented on #451
@sponce @EdwardMoyse Can I work on this feature?
I was thinking about adding another option inside Import and Export options within the Phoenix Iconbar labeled as "Export SVG"

[2022-06-20 09:24] sponce commented on #451
You're more than welcome !

[2022-06-27 09:33] EdwardMoyse opened #463 "Closed geometry cannot be reopened!"
![Jun-27-2022 11-31-32](https://user-images.githubusercontent.com/6764617/175908653-839c666b-0a09-49d1-b042-a3cbb70aad17.gif)

See the gif - this is a serious bug!

[2022-06-27 10:14] 9inpachi commented on #463
Can you try opening the node and check nodes inside are toggled on? We save the state of the child nodes, it might be related to that.

But overall, everything looks fine to me on: https://hepsoftwarefoundation.org/phoenix/#/atlas

[2022-06-28 15:52] sponce opened #464 "tool bar not hidden in screenshot mode"
I believe this was working fine in the past, but somehow is broken today. The tool bar stays on the screen in screenshot mode, and trying to hide it makes the screenshot mode vanish. annoying

[2022-06-28 18:23] 9inpachi commented on #464
It seems to be working fine.

![image](https://user-images.githubusercontent.com/36920441/176255189-16e17d52-595f-4a54-b606-4920f9994ff5.png)

[2022-06-28 22:40] #464 closed

[2022-06-29 09:50] sponce opened #467 "Overlay resize not fully working"
When using an overlay and resizing the window of the overlay, the window resizes but not the image inside the windows, so the windows is half empty

[2022-06-29 10:01] 9inpachi commented on #467
You mean like this?

![image](https://user-images.githubusercontent.com/36920441/176409201-e633aced-34b6-419e-8643-7103fd0c5052.png)

It was implemented a long time ago. If I remember correctly, there were some issues with the renderer not able to change size at run-time or something like that. And not being able to change the aspect ratio skews the overlay view.

[2022-06-29 12:30] sponce opened #468 "Overlay not updated when changing event"
Once the overlay windows have been "fixed", it is no more updated when rotating/moving (as expected) but it is also keeping the old event data when changing event, which is less desirable.

[2022-07-01 15:39] sponce opened #472 "API docs are not up to date"
E.g. the PresetView class does not include the clipping yet. I suppose this should be automatically updated with each merge of a PR

[2022-07-02 07:26] 9inpachi commented on #472
The API docs are for each release. The ones you see right now are for
Phoenix v2.9.0. Since Phoenix is supposed to be used as an external
package, the API docs aren't updated with each merge to master but only on
release so people don't see what's not released yet.

On Fri, Jul 1, 2022, 8:40 PM Sebastien Ponce ***@***.***>
wrote:

[2022-07-06 14:02] EdwardMoyse opened #474 "Enabling calo cells causes a big performance hit"
On my M1Pro mac, I can enable all event data except CaloCells in the ATLAS example:
https://hepsoftwarefoundation.org/phoenix/#/atlas
and I get 60 FPS. But as soon as I enable CaloCells this drops to 9FPS. This seems quite surprising so I wonder if there is a performance bug here.

[2022-07-11 11:12] sponce commented on #411
This is now tackled via https://github.com/HSF/phoenix-helpers/pull/3, which is completely experiment agnostic.

[2022-07-11 11:12] #411 closed

[2022-07-12 13:29] wdconinc opened #478 "Enhancement: Interested in contributing EDM4hepLoader"
I don't have any TypeScript experience :-) but I'm interested in contributing an event loader for the [EDM4hep data model](https://github.com/key4hep/EDM4hep/blob/master/edm4hep.yaml) used by the key4HEP project. The data model contains both simulated and reconstructed quantities which would be useful to implement, but an initial goal is these simulated quantities:
- MCParticles (which could be lo

[2022-07-12 14:13] wdconinc commented on #478
Possibly useful info: I'm at ICHEP if any of the devs is and we can chat about this.

[2022-07-12 17:03] wdconinc opened #479 "Enhancement: Allow customization of link URL for {{ expriment }} logo"
Right now the UI encodes the logo link as (in `packages/phoenix-ng/projects/phoenix-ui-components/lib/components/ui-menu/experiment-info/experiment-info.component.html`):
[code]
which doesn't allow for links to experiments outside of CERN.

[2022-07-12 21:34] 9inpachi commented on #479
Good point. We can make these configurable by passing the options as attributes/inputs to the component.

[2022-07-12 21:37] 9inpachi commented on #472
@sponce Can we close this or do you have any other approach in mind?

[2022-07-13 06:08] #472 closed

[2022-07-13 11:55] EdwardMoyse opened #482 "LHCb example isn't working?"
Hi all,

I assume this isn't just me?

If I go to:
https://hepsoftwarefoundation.org/phoenix/#/lhcb

it fails with:
[code]

[2022-07-13 12:54] sponce commented on #482
I must say I had not tried that for long. I'm only using http://phoenix-dev.surge.sh/#/lhcb.
So what's used there ? Latest release ?

[2022-07-13 13:38] sponce commented on #482
I do not really understand the problem. The gltf file is there in the v2.9.0 tag and seems to have proper content. @9inpachi could it be that the deployment has troubles, rather than the code ?

[2022-07-13 16:32] sponce opened #484 "Drop transparency from loadGLTFGeometry interface"
According to the discussion in https://github.com/HSF/phoenix/issues/477, this is not needed anymore

[2022-07-14 19:24] #479 closed

[2022-07-18 16:25] #484 closed

[2022-07-18 16:27] #39 closed

[2022-07-21 19:51] 9inpachi commented on #482
LHCb is up again with the new release (v2.10.0): https://hepsoftwarefoundation.org/phoenix/#/lhcb

[2022-07-21 19:51] #482 closed

[2022-07-26 08:24] DamianArado commented on #457
All the unit tests in phoenix should now use Jest instead of Jasmine and Karma. We will use Cypress for e2e tests in the future, so there is no dependency on Jasmine as was the case with Protractor.

[2022-09-01 11:37] 9inpachi commented on #422
With https://github.com/root-project/jsroot/pull/245, JSROOT can now be used in Phoenix. What's remaining is to adapt the existing code to the changes in v7.

[2022-09-11 22:26] #422 closed

[2022-09-14 13:01] EdwardMoyse opened #498 "Add ability to open zipped content"
For example, for ATLAS we would like to be able to open zipped JiveXML files.

My proposal would be to clean up the 'Import and export options'

![image](https://user-images.githubusercontent.com/6764617/190160722-ca23bab6-d567-4fb5-810a-54c09f7802bc.png)

What does .zip mean here? It's a bit ambigious. If possible, I think we should make the .json and .xml options also swallow zipped versions of

[2022-10-03 15:43] #498 closed

[2022-10-03 15:52] EdwardMoyse opened #505 "Open zipped content with url filepath"
I've been very confused by this I have not been able to open zipped JiveXML with PhoenixATLAS but now that I'm playing with Phoenix, I think I understand. e.g. this does not work:
`http://localhost:4200/#/atlas?file=assets%2Ffiles%2FJiveXML%2FJiveXML_435678_9781308.zip&type=jivexml`
(you can just zip one of the files in `assets/files/JiveXML` to test this).

The reason is we handle zipped file con

[2022-10-03 16:59] #457 closed

[2022-10-26 18:20] 9inpachi opened #508 "Outline pass not working in selection mode"
It seems there is an error in some shader. To reproduce, select "Object selection" from the icon bar and try hovering over any object.

![phoenix-selection-error](https://user-images.githubusercontent.com/36920441/198105444-2c079bec-32c1-4606-a29f-b45f273e90fa.PNG)

[2022-10-27 09:09] #505 closed

[2022-11-16 14:24] kjvbrt opened #517 "Opacity no longer works for the calo cells"
![image](https://user-images.githubusercontent.com/34742917/202206094-1c850226-504f-4068-8640-edd420168e47.png)

[2022-11-23 22:11] 9inpachi commented on #517
It seems opacity isn't working for any of the event data.

[2022-11-23 22:20] 9inpachi commented on #517
For jets, it seems to work. The source code is here if you want to take a look: https://github.com/HSF/phoenix/blob/448eb4fafc722f2c6c1febad69c7a5ce047a963e/packages/phoenix-event-display/src/managers/ui-manager/phoenix-menu/phoenix-menu-ui.ts#L251

[2022-11-30 14:12] EdwardMoyse commented on #36
I think this is clearer now.

[2022-11-30 14:12] #36 closed

[2022-11-30 14:12] #27 closed

[2022-11-30 14:12] #87 closed